@import "https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300;1,400;1,500;1,700;1,800&family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300;1,400;1,500;1,700;1,800&display=swap";

// Import variables and mixins.
@import "abstracts/abstracts";

//tainancan-icons
@font-face {
    font-family: "TainacanIcons";
    src: url("./assets/fonts/tainacan-icons/fonts/TainacanIcons.eot");
    src: url("./assets/fonts/TainacanIcons.eot#iefix") format("embedded-opentype"),
        url("./assets/fonts/TainacanIcons.woff2") format("woff2"),
        url("../assets/fonts/TainacanIcons.otf") format("otf"), url("./assets/fonts/TainacanIcons.woff") format("woff"),
        url("./assets/fonts/TainacanIcons.ttf") format("truetype"),
        url("./assets/fonts/TainacanIcons.svg") format("svg");
    font-weight: normal;
    font-style: normal;
    text-rendering: optimizeLegibility;
}

/*--------------------------------------------------------------
# Base Typography
--------------------------------------------------------------*/
@import "base/typography/typography";

/* Accessibility
--------------------------------------------- */
@import "utilities/accessibility";

/* Alignments
--------------------------------------------- */
@import "utilities/alignments";

/* Styles related mostly to gutenberg blocks. 
--------------------------------------------- */
@import "block-style/button-block";
@import "block-style/column-block";
@import "block-style/title-block";
@import "block-style/block-colors";
@import "block-style/editor-basics";

/* custom blocks
--------------------------------------------- */
@import "../custom-blocks/editor-style.scss";

.tainacan-icon:before,
.tainacan-icon-set {
    display: inline-block;
    font: normal normal normal 20px/1 "TainacanIcons";
    font-size: inherit;
    text-rendering: auto;
    vertical-align: middle;
    line-height: inherit;
    text-transform: none !important;
    letter-spacing: normal !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.tainacan-icon-arrowleft:before {
    content: "arrowleft";
}

.tainacan-icon-arrowup:before {
    content: "arrowup";
}

.tainacan-icon-arrowright:before {
    content: "arrowright";
}

.tainacan-icon-arrowdown:before {
    content: "arrowdown";
}

.tainacan-icon-add:before {
    content: "add";
}

.tainacan-icon-remove:before {
    content: "remove";
}

.tainacan-icon-plus:before {
    content: "plus";
}

.tainacan-icon-minus:before {
    content: "minus";
}

.tainacan-icon-showmore:before {
    content: "showmore";
}

.tainacan-icon-next:before {
    content: "next";
}

.tainacan-icon-18px.tainacan-icon-set,
.tainacan-icon-18px.tainacan-icon:before {
    font-size: 18px;
}

.tainacan-icon-20px.tainacan-icon-set,
.tainacan-icon-20px.tainacan-icon:before {
    font-size: 20px;
}

.tainacan-icon-1-125em.tainacan-icon-set,
.tainacan-icon-1-125em.tainacan-icon:before {
    font-size: 1.125em;
}

.tainacan-icon-1-25em.tainacan-icon-set,
.tainacan-icon-1-25em.tainacan-icon:before {
    font-size: 1.25em;
}

.tainacan-icon-30px.tainacan-icon-set,
.tainacan-icon-30px.tainacan-icon:before {
    font-size: 30px;
}

.tainacan-icon-36px.tainacan-icon-set,
.tainacan-icon-36px.tainacan-icon:before {
    font-size: 36px;
}

.tainacan-icon-48px.tainacan-icon-set,
.tainacan-icon-48px.tainacan-icon:before {
    font-size: 48px;
}

.tainacan-icon-dark:before {
    color: rgba(0, 0, 0, 0.54);
}

.tainacan-icon-dark.tainacan-icon-inactive:before {
    color: rgba(0, 0, 0, 0.26);
}

.tainacan-icon-light:before {
    color: white;
}

.tainacan-icon-light.tainacan-icon-inactive:before {
    color: rgba(255, 255, 255, 0.3);
}

.tainacan-icon-rotate-45 {
    /*
	// Not included in production
	&.tainacan-icon-flip-h:before {
		-webkit-transform: scaleX(-1) rotate(45deg);
		transform: scaleX(-1) rotate(45deg);
		filter: FlipH;
		-ms-filter: "FlipH";
	}
	&.tainacan-icon-flip-v:before {
		-webkit-transform: scaleY(-1) rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: scaleY(-1) rotate(45deg);
		filter: FlipV;
		-ms-filter: "FlipV";
	}
	*/
}

.tainacan-icon-rotate-45:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.tainacan-icon-rotate-90 {
    /*
	// Not included in production
	&.tainacan-icon-flip-h:before {
		-webkit-transform: scaleX(-1) rotate(90deg);
		transform: scaleX(-1) rotate(90deg);
		filter: FlipH;
		-ms-filter: "FlipH";
	}
	&.tainacan-icon-flip-v:before {
		-webkit-transform: scaleY(-1) rotate(90deg);
		-ms-transform: rotate(90deg);
		transform: scaleY(-1) rotate(90deg);
		filter: FlipV;
		-ms-filter: "FlipV";
	}
	*/
}

.tainacan-icon-rotate-90:before {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.tainacan-icon-rotate-135 {
    /*
	// Not included in production
	&.tainacan-icon-flip-h:before {
		-webkit-transform: scaleX(-1) rotate(135deg);
		transform: scaleX(-1) rotate(135deg);
		filter: FlipH;
		-ms-filter: "FlipH";
	}
	&.tainacan-icon-flip-v:before {
		-webkit-transform: scaleY(-1) rotate(135deg);
		-ms-transform: rotate(135deg);
		transform: scaleY(-1) rotate(135deg);
		filter: FlipV;
		-ms-filter: "FlipV";
	}
	*/
}

.tainacan-icon-rotate-135:before {
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}

.tainacan-icon-rotate-180 {
    /*
	// Not included in production
	&.tainacan-icon-flip-h:before {
		-webkit-transform: scaleX(-1) rotate(180deg);
		transform: scaleX(-1) rotate(180deg);
		filter: FlipH;
		-ms-filter: "FlipH";
	}
	&.tainacan-icon-flip-v:before {
		-webkit-transform: scaleY(-1) rotate(180deg);
		-ms-transform: rotate(180deg);
		transform: scaleY(-1) rotate(180deg);
		filter: FlipV;
		-ms-filter: "FlipV";
	}
	*/
}

.tainacan-icon-rotate-180:before {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.tainacan-icon-rotate-225 {
    /*
	// Not included in production
	&.tainacan-icon-flip-h:before {
		-webkit-transform: scaleX(-1) rotate(225deg);
		transform: scaleX(-1) rotate(225deg);
		filter: FlipH;
		-ms-filter: "FlipH";
	}
	&.tainacan-icon-flip-v:before {
		-webkit-transform: scaleY(-1) rotate(225deg);
		-ms-transform: rotate(225deg);
		transform: scaleY(-1) rotate(225deg);
		filter: FlipV;
		-ms-filter: "FlipV";
	}
	*/
}

.tainacan-icon-rotate-225:before {
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(225deg);
}

.tainacan-icon-rotate-270 {
    /*
	// Not included in production
	&.tainacan-icon-flip-h:before {
		-webkit-transform: scaleX(-1) rotate(270deg);
		transform: scaleX(-1) rotate(270deg);
		filter: FlipH;
		-ms-filter: "FlipH";
	}
	&.tainacan-icon-flip-v:before {
		-webkit-transform: scaleY(-1) rotate(270deg);
		-ms-transform: rotate(270deg);
		transform: scaleY(-1) rotate(270deg);
		filter: FlipV;
		-ms-filter: "FlipV";
	}
	*/
}

.tainacan-icon-rotate-270:before {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.tainacan-icon-rotate-315 {
    /*
// Not included in production
&.tainacan-icon-flip-h:before {
    -webkit-transform: scaleX(-1) rotate(315deg);
    transform: scaleX(-1) rotate(315deg);
    filter: FlipH;
    -ms-filter: "FlipH";
}
&.tainacan-icon-flip-v:before {
    -webkit-transform: scaleY(-1) rotate(315deg);
    -ms-transform: rotate(315deg);
    transform: scaleY(-1) rotate(315deg);
    filter: FlipV;
    -ms-filter: "FlipV";
}
*/
}

.tainacan-icon-rotate-315:before {
    -webkit-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    transform: rotate(315deg);
}

.tainacan-icon-flip-h:before {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.tainacan-icon-flip-v:before {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
}

.tainacan-icon-spin:before {
    -webkit-animation: mdi-spin 2s infinite linear;
    animation: mdi-spin 2s infinite linear;
}

@-webkit-keyframes mdi-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes mdi-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
} //
