@import "https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300;1,400;1,500;1,700;1,800&family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300;1,400;1,500;1,700;1,800&display=swap";
@font-face {
	font-family: "TainacanIcons";
	src: url("./assets/fonts/tainacan-icons/fonts/TainacanIcons.eot");
	src: url("./assets/fonts/TainacanIcons.eot#iefix") format("embedded-opentype"), url("./assets/fonts/TainacanIcons.woff2") format("woff2"), url("../assets/fonts/TainacanIcons.otf") format("otf"), url("./assets/fonts/TainacanIcons.woff") format("woff"), url("./assets/fonts/TainacanIcons.ttf") format("truetype"), url("./assets/fonts/TainacanIcons.svg") format("svg");
	font-weight: normal;
	font-style: normal;
	text-rendering: optimizeLegibility;
}

/*--------------------------------------------------------------
# Base Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
	color: #1e1e1e;
	font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 1rem;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-weight: 500;
}

h1 {
	font-size: 1.5rem;
}

h2 {
	font-size: 1.25rem;
}

h3 {
	font-size: 1.125rem;
}

h4 {
	font-size: 1rem;
}

h5 {
	font-size: 0.875rem;
}

h6 {
	font-size: 0.75rem;
}

p {
	margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #d9d9d9;
	font-family: "Courier 10 Pitch", courier, monospace;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
	border-bottom: 1px dotted #bfbfbf;
	cursor: help;
}

mark,
ins {
	background: #f1f1f1;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/* Accessibility
--------------------------------------------- */
/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #970620;
	display: block;
	font-size: 0.875rem;
	font-weight: 700;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
	outline: 0;
}

/* Alignments
--------------------------------------------- */
.alignleft {
	/*rtl:ignore*/
	float: left;
	/*rtl:ignore*/
	margin-right: 1.5em;
	margin-bottom: 1.5em;
}

.alignright {
	/*rtl:ignore*/
	float: right;
	/*rtl:ignore*/
	margin-left: 1.5em;
	margin-bottom: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.5em;
}

/* Styles related mostly to gutenberg blocks. 
--------------------------------------------- */
.wp-block-button .wp-block-button__link {
	border-radius: 0px;
	line-height: 1;
	letter-spacing: 1.5px;
	padding: 0.6em 1em 0.6em;
	font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 0.875rem;
	text-transform: uppercase;
	border: 1px solid;
	border-color: #58020b;
	background: rgba(255, 255, 255, 0.1);
	color: #58020b;
	transition: background 0.2s ease, border 0.2s ease, color 0.2s ease;
}

.wp-block-button .wp-block-button__link:hover {
	border-color: #58020b;
	background-color: #58020b;
	color: #ffffff;
}

.wp-block-button .wp-block-button__link:active, .wp-block-button .wp-block-button__link:focus {
	border-color: #58020b;
	background-color: #58020b;
	color: #ffffff;
}

.wp-block-button.is-style-clear .wp-block-button__link {
	text-transform: none;
	border: 1px solid;
	border-color: #d9d9d9;
	background: #ffffff rgba(255, 255, 255, 0.1);
	color: #898d8f;
	transition: background 0.2s ease, border 0.2s ease, color 0.2s ease;
}

.wp-block-button.is-style-clear .wp-block-button__link:hover {
	border-color: #515151;
	background-color: #ffffff rgba(255, 255, 255, 0.1);
	color: #515151;
}

.wp-block-button.is-style-clear .wp-block-button__link:active, .wp-block-button.is-style-clear .wp-block-button__link:focus {
	border-color: #898d8f;
	background-color: #ffffff rgba(255, 255, 255, 0.1);
	color: #898d8f;
}

.wp-block-button:not(.has-text-color) [data-rich-text-placeholder]::after {
	color: #d9d9d9;
}

.wp-block-button.aligncenter,
.wp-block-button.alignleft,
.wp-block-button.alignright {
	display: block;
}

.wp-block-buttons .wp-block-button {
	margin-bottom: 1em;
}

.is-style-column-iphan {
	border: 1px solid #58020b;
	padding: 30px;
	overflow-wrap: anywhere;
}

.is-style-column-iphan:not(.has-background) {
	background-color: rgba(255, 255, 255, 0.85);
}

@media screen and (orientation: portrait) and (max-width: 1024px) {
	.is-style-column-iphan {
		margin-bottom: 5%;
	}
}

.is-style-column-iphan-secondary {
	border: 1px solid #515151;
	padding: 30px;
	overflow-wrap: anywhere;
}

.is-style-column-iphan-secondary:not(.has-background) {
	background-color: rgba(255, 255, 255, 0.85);
}

@media screen and (orientation: portrait) and (max-width: 1024px) {
	.is-style-column-iphan-secondary {
		margin-bottom: 5%;
	}
}

.is-style-two-columns .wp-block-group__inner-container {
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
}

@media screen and (orientation: portrait) and (max-width: 768px) {
	.is-style-two-columns .wp-block-group__inner-container {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
	}
}

.is-style-group-three-columns .wp-block-group__inner-container {
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
}

@media screen and (orientation: portrait) and (max-width: 1024px) {
	.is-style-group-three-columns .wp-block-group__inner-container {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}
}

@media screen and (orientation: portrait) and (max-width: 768px) {
	.is-style-group-three-columns .wp-block-group__inner-container {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
	}
}

.is-style-title-iphan-underscore {
	margin-bottom: 44px;
	color: #58020b !important;
	text-transform: uppercase;
}

.is-style-title-iphan-underscore::after {
	content: "";
	position: relative;
	height: 15px;
	width: 4.5rem;
	border-bottom: 6px solid #58020b;
	display: block;
	z-index: 10;
}

.is-style-title-iphan-underscore h4::after,
.is-style-title-iphan-underscore h5::after,
.is-style-title-iphan-underscore h6::after {
	display: none !important;
}

.editor-post-title.editor-post-title__block {
	margin-bottom: 65px;
}

.editor-post-title.editor-post-title__block textarea {
	text-transform: uppercase;
	font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-weight: 500;
	font-size: 1.5rem;
	color: #58020b !important;
}

@media screen and (min-width: 1024px) {
	.editor-post-title.editor-post-title__block::after {
		content: "";
		position: relative;
		height: 15px;
		width: 15%;
		border-bottom: 6px solid #58020b;
		display: block;
		z-index: 10;
		top: -24px;
	}
}

.is-style-title-iphan {
	overflow-wrap: anywhere;
}

/* Branco */
.has-branco-background-color {
	background-color: #ffffff;
}

.has-branco-color {
	color: #ffffff;
}

/* Preto */
.has-preto-background-color {
	background-color: #000000;
}

.has-preto-color {
	color: #000000;
}

/* Vermelho */
.has-vermelho-background-color {
	background-color: #58020b;
}

.has-vermelho-color {
	color: #58020b;
}

/* Vermelho 2*/
.has-vermelho-2-background-color {
	background-color: #970620;
}

.has-vermelho-2-color {
	color: #970620;
}

/* Amarelo */
.has-amarelo-background-color {
	background-color: #f3d7a2;
}

.has-amarelo-color {
	color: #f3d7a2;
}

/* Amarelo 2*/
.has-amarelo-2-background-color {
	background-color: #fcd9aa;
}

.has-amarelo-2-color {
	color: #fcd9aa;
}

/* Verde */
.has-verde-background-color {
	background-color: #007350;
}

.has-verde-color {
	color: #007350;
}

/* Laranja */
.has-laranja-background-color {
	background-color: #ca4d37;
}

.has-laranja-color {
	color: #ca4d37;
}

/* Branco 1 */
.has-branco-1-background-color {
	background-color: #f5f5f5;
}

.has-branco-1-color {
	color: #f5f5f5;
}

/* Cinza 1 */
.has-cinza-1-background-color {
	background-color: #f1f1f1;
}

.has-cinza-1-color {
	color: #f1f1f1;
}

/* Cinza 2 */
.has-cinza-2-background-color {
	background-color: #e8e8e8;
}

.has-cinza-2-color {
	color: #e8e8e8;
}

/* Cinza 3 */
.has-cinza-3-background-color {
	background-color: #d9d9d9;
}

.has-cinza-3-color {
	color: #d9d9d9;
}

/* Cinza 4 */
.has-cinza-4-background-color {
	background-color: #bfbfbf;
}

.has-cinza-4-color {
	color: #bfbfbf;
}

/* Cinza 5 */
.has-cinza-5-background-color {
	background-color: #898d8f;
}

.has-cinza-5-color {
	color: #898d8f;
}

/* Cinza 6 */
.has-cinza-6-background-color {
	background-color: #515151;
}

.has-cinza-6-color {
	color: #515151;
}

/* Cinza 7 */
.has-cinza-7-background-color {
	background-color: #1e1e1e;
}

.has-cinza-7-color {
	color: #1e1e1e;
}

.editor-inner-blocks,
.block-editor-inner-blocks,
.wp-block-group__inner-container > .wp-block,
.wp-block-cover__inner-container > .wp-block,
.editor-inner-blocks > .editor-block-list__layout,
.block-editor-inner-blocks > .block-editor-block-list__layout {
	padding-left: 0;
	padding-right: 0;
	max-width: 100%;
}

/* Main column width */
.wp-block.editor-post-title.editor-post-title__block,
.block-editor-block-list__layout.is-root-container > .wp-block {
	max-width: 57.2%;
	font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

@media screen and (min-width: 1736px) {
	.wp-block.editor-post-title.editor-post-title__block,
	.block-editor-block-list__layout.is-root-container > .wp-block {
		max-width: calc(1157px - (2 * 4.73%));
	}
}

h1.wp-block,
h2.wp-block,
h3.wp-block,
h4.wp-block,
h5.wp-block,
h6.wp-block,
p.wp-block,
ul.wp-block {
	margin-top: 0;
}

/* Width of "wide" blocks */
.block-editor-block-list__layout.is-root-container > .wp-block[data-align="wide"] {
	max-width: 74.2%;
	padding-left: 0;
	padding-right: 0;
}

@media screen and (min-width: 1736px) {
	.block-editor-block-list__layout.is-root-container > .wp-block[data-align="wide"] {
		max-width: calc(1446px - (2 * 4.73%));
	}
}

.block-editor-block-list__layout.is-root-container > .wp-block[data-align="wide"] .wp-block-columns {
	padding-left: 0;
	padding-right: 0;
}

/* Width of "full" blocks */
.block-editor-block-list__layout.is-root-container > .wp-block[data-align="full"],
.wp-block[data-align="full"] {
	max-width: calc(100% + 20px);
	width: calc(100% + (2 * 4.73%));
	margin-left: -10px;
	margin-right: -10px;
	padding-left: 0;
	padding-right: 0;
}

/* Inner columns and group blocks when inside a full wide block */
.wp-block[data-align="full"] .wp-block-group:not([data-align="wide"]):not([data-align="full"]),
.wp-block[data-align="full"] .wp-block-columns:not([data-align="wide"]):not([data-align="full"]) {
	max-width: 66.66%;
}

/* WIDE Inner columns and group blocks when inside a full wide block */
.wp-block[data-align="full"] > .wp-block-group:not([data-align="wide"]):not([data-align="full"]),
.wp-block[data-align="full"] > .wp-block-columns:not([data-align="wide"]):not([data-align="full"])
.wp-block[data-align="full"] .wp-block[data-align="wide"] > .wp-block-group,
.wp-block[data-align="full"] .wp-block[data-align="wide"] > .wp-block-columns {
	max-width: 100%;
}

/* FULL Inner columns and group blocks when inside a full wide block */
.wp-block[data-align="full"] .wp-block[data-align="full"] > .wp-block-group,
.wp-block[data-align="full"] .wp-block[data-align="full"] > .wp-block-columns {
	max-width: 100%;
	width: 100%;
	max-width: 100vw;
	width: 100vw;
	margin-left: calc(-1 * (100vw - 100%)/2);
	margin-right: calc(-1 * (100vw - 100%)/2);
}

.wp-block[data-align="full"] .wp-block[data-align="full"] > * {
	padding: 0 4.73%;
}

/* Inner padding for cover block */
.wp-block-cover__inner-container {
	max-width: 1736px;
	margin: 0 auto;
	padding: 0 4.73%;
	padding: 0 4.73vw;
}

/* No margin for the last element of columns block */
.wp-block-column > *:last-child {
	margin-bottom: 0;
}

.wp-block[data-align="full"] > .wp-block-columns {
	padding-left: 4.73%;
	padding-right: 4.73%;
}

/* custom blocks
--------------------------------------------- */
details > summary::-webkit-details-marker {
	display: none;
}

details summary {
	list-style-type: none;
}

details > p {
	margin-top: 0px;
	margin-bottom: 0px;
}

details > summary::before {
	float: right;
	font-weight: bold;
}

details[open] summary.tainacan-icon-showmore:before {
	transform: rotate(180deg);
}

details {
	margin-left: 0px !important;
}

.tainacan-icon-instagram:before {
	content: "instagram";
}

.tainacan-icon:before,
.tainacan-icon-set {
	display: inline-block;
	font: normal normal normal 20px/1 "TainacanIcons";
	font-size: inherit;
	text-rendering: auto;
	vertical-align: middle;
	line-height: inherit;
	text-transform: none !important;
	letter-spacing: normal !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.tainacan-icon-pdf:before {
	content: "pdf";
}

.tainacan-icon-arrowleft:before {
	content: "arrowleft";
}

.tainacan-icon-arrowup:before {
	content: "arrowup";
}

.tainacan-icon-arrowright:before {
	content: "arrowright";
}

.tainacan-icon-arrowdown:before {
	content: "arrowdown";
}

.tainacan-icon-home:before {
	content: "home";
}

.tainacan-icon-image:before {
	content: "image";
}

.tainacan-icon-star:before {
	content: "star";
}

.tainacan-icon-cancel:before {
	content: "cancel";
}

.tainacan-icon-heartfill:before {
	content: "heartfill";
}

.tainacan-icon-heartoutline:before {
	content: "heartoutline";
}

.tainacan-icon-openurl:before {
	content: "openurl";
}

.tainacan-icon-attachments:before {
	content: "attachments";
}

.tainacan-icon-form:before {
	content: "form";
}

.tainacan-icon-wordpress:before {
	content: "wordpress";
}

.tainacan-icon-activities:before {
	content: "activities";
}

.tainacan-icon-add:before {
	content: "add";
}

.tainacan-icon-remove:before {
	content: "remove";
}

.tainacan-icon-addcollection:before {
	content: "addcollection";
}

.tainacan-icon-alert:before {
	content: "alert";
}

.tainacan-icon-alertcircle:before {
	content: "alertcircle";
}

.tainacan-icon-approved:before {
	content: "approved";
}

.tainacan-icon-approvedcircle:before {
	content: "approvedcircle";
}

.tainacan-icon-audio:before {
	content: "audio";
}

.tainacan-icon-video:before {
	content: "video";
}

.tainacan-icon-close:before {
	content: "close";
}

.tainacan-icon-collection:before {
	content: "collection";
}

.tainacan-icon-collections:before {
	content: "collections";
}

.tainacan-icon-delete:before {
	content: "delete";
}

.tainacan-icon-deleteforever:before {
	content: "deleteforever";
}

.tainacan-icon-download:before {
	content: "download";
}

.tainacan-icon-download:before {
	content: "download";
}

.tainacan-icon-draft:before {
	content: "draft";
}

.tainacan-icon-edit:before {
	content: "edit";
}

.tainacan-icon-export:before {
	content: "export";
}

.tainacan-icon-filters:before {
	content: "filters";
}

.tainacan-icon-finish:before {
	content: "finish";
}

.tainacan-icon-gallery:before {
	content: "gallery";
}

.tainacan-icon-help:before {
	content: "help";
}

.tainacan-icon-importers:before {
	content: "importers";
}

.tainacan-icon-items:before {
	content: "items";
}

.tainacan-icon-menu:before {
	content: "menu";
}

.tainacan-icon-metadata:before {
	content: "metadata";
}

.tainacan-icon-plus:before {
	content: "plus";
}

.tainacan-icon-minus:before {
	content: "minus";
}

.tainacan-icon-showmore:before {
	content: "showmore";
}

.tainacan-icon-next:before {
	content: "next";
}

.tainacan-icon-drag:before {
	content: "drag";
}

.tainacan-icon-notifications:before {
	content: "notifications";
}

.tainacan-icon-nextlevel:before {
	content: "nextlevel";
}

.tainacan-icon-waiting:before {
	content: "waiting";
}

.tainacan-icon-pause:before {
	content: "pause";
}

.tainacan-icon-play:before {
	content: "play";
}

.tainacan-icon-stop:before {
	content: "stop";
}

.tainacan-icon-pausefill:before {
	content: "pausefill";
}

.tainacan-icon-playfill:before {
	content: "playfill";
}

.tainacan-icon-pointer:before {
	content: "pointer";
}

.tainacan-icon-previous:before {
	content: "previous";
}

.tainacan-icon-private:before {
	content: "private";
}

.tainacan-icon-processerror:before {
	content: "processerror";
}

.tainacan-icon-processes:before {
	content: "processes";
}

.tainacan-icon-public:before {
	content: "public";
}

.tainacan-icon-repository:before {
	content: "repository";
}

.tainacan-icon-repproved:before {
	content: "repproved";
}

.tainacan-icon-repprovedcircle:before {
	content: "repprovedcircle";
}

.tainacan-icon-search:before {
	content: "search";
}

.tainacan-icon-see:before {
	content: "see";
}

.tainacan-icon-settings:before {
	content: "settings";
}

.tainacan-icon-share:before {
	content: "share";
}

.tainacan-icon-sortascending:before {
	content: "sortascending";
}

.tainacan-icon-sortdescending:before {
	content: "sortdescending";
}

.tainacan-icon-taxonomies:before {
	content: "taxonomies";
}

.tainacan-icon-terms:before {
	content: "terms";
}

.tainacan-icon-text:before {
	content: "text";
}

.tainacan-icon-tour:before {
	content: "tour";
}

.tainacan-icon-undo:before {
	content: "undo";
}

.tainacan-icon-updating:before {
	content: "updating";
}

.tainacan-icon-upload:before {
	content: "upload";
}

.tainacan-icon-url:before {
	content: "url";
}

.tainacan-icon-user:before {
	content: "user";
}

.tainacan-icon-viewcards:before {
	content: "viewcards";
}

.tainacan-icon-viewgallery:before {
	content: "viewgallery";
}

.tainacan-icon-viewmasonry:before {
	content: "viewmasonry";
}

.tainacan-icon-viewminiature:before {
	content: "viewminiature";
}

.tainacan-icon-viewrecords:before {
	content: "viewrecords";
}

.tainacan-icon-viewtable:before {
	content: "viewtable";
}

.tainacan-icon-viewlist:before {
	content: "viewlist";
}

.tainacan-icon-facebook:before {
	content: "facebook";
}

.tainacan-icon-twitter:before {
	content: "twitter";
}

.tainacan-icon-youtube:before {
	content: "facebook";
}

.tainacan-icon-slidercol:before {
	content: "slidercol";
}

.tainacan-icon-slideritems:before {
	content: "slideritems";
}

.tainacan-icon-sliderterms:before {
	content: "sliderterms";
}

.tainacan-icon-dincol:before {
	content: "dincol";
}

.tainacan-icon-dinitems:before {
	content: "dinitems";
}

.tainacan-icon-dinterms:before {
	content: "dinterms";
}

.tainacan-icon-userfill:before {
	content: "userfill";
}

.tainacan-icon-calendar:before {
	content: "calendar";
}

.tainacan-icon-role:before {
	content: "role";
}

.tainacan-icon-capability:before {
	content: "capability";
}

.tainacan-icon-comment:before {
	content: "comment";
}

.tainacan-icon-viewas:before {
	content: "viewas";
}

.tainacan-icon-18px.tainacan-icon-set,
.tainacan-icon-18px.tainacan-icon:before {
	font-size: 18px;
}

.tainacan-icon-20px.tainacan-icon-set,
.tainacan-icon-20px.tainacan-icon:before {
	font-size: 20px;
}

.tainacan-icon-1-125em.tainacan-icon-set,
.tainacan-icon-1-125em.tainacan-icon:before {
	font-size: 1.125em;
}

.tainacan-icon-1-25em.tainacan-icon-set,
.tainacan-icon-1-25em.tainacan-icon:before {
	font-size: 1.25em;
}

.tainacan-icon-30px.tainacan-icon-set,
.tainacan-icon-30px.tainacan-icon:before {
	font-size: 30px;
}

.tainacan-icon-36px.tainacan-icon-set,
.tainacan-icon-36px.tainacan-icon:before {
	font-size: 36px;
}

.tainacan-icon-48px.tainacan-icon-set,
.tainacan-icon-48px.tainacan-icon:before {
	font-size: 48px;
}

.tainacan-icon-dark:before {
	color: rgba(0, 0, 0, 0.54);
}

.tainacan-icon-dark.tainacan-icon-inactive:before {
	color: rgba(0, 0, 0, 0.26);
}

.tainacan-icon-light:before {
	color: white;
}

.tainacan-icon-light.tainacan-icon-inactive:before {
	color: rgba(255, 255, 255, 0.3);
}

.tainacan-icon-rotate-45 {
	/*
	// Not included in production
	&.tainacan-icon-flip-h:before {
		-webkit-transform: scaleX(-1) rotate(45deg);
		transform: scaleX(-1) rotate(45deg);
		filter: FlipH;
		-ms-filter: "FlipH";
	}
	&.tainacan-icon-flip-v:before {
		-webkit-transform: scaleY(-1) rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: scaleY(-1) rotate(45deg);
		filter: FlipV;
		-ms-filter: "FlipV";
	}
	*/
}

.tainacan-icon-rotate-45:before {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.tainacan-icon-rotate-90 {
	/*
	// Not included in production
	&.tainacan-icon-flip-h:before {
		-webkit-transform: scaleX(-1) rotate(90deg);
		transform: scaleX(-1) rotate(90deg);
		filter: FlipH;
		-ms-filter: "FlipH";
	}
	&.tainacan-icon-flip-v:before {
		-webkit-transform: scaleY(-1) rotate(90deg);
		-ms-transform: rotate(90deg);
		transform: scaleY(-1) rotate(90deg);
		filter: FlipV;
		-ms-filter: "FlipV";
	}
	*/
}

.tainacan-icon-rotate-90:before {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

.tainacan-icon-rotate-135 {
	/*
	// Not included in production
	&.tainacan-icon-flip-h:before {
		-webkit-transform: scaleX(-1) rotate(135deg);
		transform: scaleX(-1) rotate(135deg);
		filter: FlipH;
		-ms-filter: "FlipH";
	}
	&.tainacan-icon-flip-v:before {
		-webkit-transform: scaleY(-1) rotate(135deg);
		-ms-transform: rotate(135deg);
		transform: scaleY(-1) rotate(135deg);
		filter: FlipV;
		-ms-filter: "FlipV";
	}
	*/
}

.tainacan-icon-rotate-135:before {
	-webkit-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	transform: rotate(135deg);
}

.tainacan-icon-rotate-180 {
	/*
	// Not included in production
	&.tainacan-icon-flip-h:before {
		-webkit-transform: scaleX(-1) rotate(180deg);
		transform: scaleX(-1) rotate(180deg);
		filter: FlipH;
		-ms-filter: "FlipH";
	}
	&.tainacan-icon-flip-v:before {
		-webkit-transform: scaleY(-1) rotate(180deg);
		-ms-transform: rotate(180deg);
		transform: scaleY(-1) rotate(180deg);
		filter: FlipV;
		-ms-filter: "FlipV";
	}
	*/
}

.tainacan-icon-rotate-180:before {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

.tainacan-icon-rotate-225 {
	/*
	// Not included in production
	&.tainacan-icon-flip-h:before {
		-webkit-transform: scaleX(-1) rotate(225deg);
		transform: scaleX(-1) rotate(225deg);
		filter: FlipH;
		-ms-filter: "FlipH";
	}
	&.tainacan-icon-flip-v:before {
		-webkit-transform: scaleY(-1) rotate(225deg);
		-ms-transform: rotate(225deg);
		transform: scaleY(-1) rotate(225deg);
		filter: FlipV;
		-ms-filter: "FlipV";
	}
	*/
}

.tainacan-icon-rotate-225:before {
	-webkit-transform: rotate(225deg);
	-ms-transform: rotate(225deg);
	transform: rotate(225deg);
}

.tainacan-icon-rotate-270 {
	/*
	// Not included in production
	&.tainacan-icon-flip-h:before {
		-webkit-transform: scaleX(-1) rotate(270deg);
		transform: scaleX(-1) rotate(270deg);
		filter: FlipH;
		-ms-filter: "FlipH";
	}
	&.tainacan-icon-flip-v:before {
		-webkit-transform: scaleY(-1) rotate(270deg);
		-ms-transform: rotate(270deg);
		transform: scaleY(-1) rotate(270deg);
		filter: FlipV;
		-ms-filter: "FlipV";
	}
	*/
}

.tainacan-icon-rotate-270:before {
	-webkit-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	transform: rotate(270deg);
}

.tainacan-icon-rotate-315 {
	/*
// Not included in production
&.tainacan-icon-flip-h:before {
    -webkit-transform: scaleX(-1) rotate(315deg);
    transform: scaleX(-1) rotate(315deg);
    filter: FlipH;
    -ms-filter: "FlipH";
}
&.tainacan-icon-flip-v:before {
    -webkit-transform: scaleY(-1) rotate(315deg);
    -ms-transform: rotate(315deg);
    transform: scaleY(-1) rotate(315deg);
    filter: FlipV;
    -ms-filter: "FlipV";
}
*/
}

.tainacan-icon-rotate-315:before {
	-webkit-transform: rotate(315deg);
	-ms-transform: rotate(315deg);
	transform: rotate(315deg);
}

.tainacan-icon-flip-h:before {
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

.tainacan-icon-flip-v:before {
	-webkit-transform: scaleY(-1);
	transform: scaleY(-1);
	filter: FlipV;
	-ms-filter: "FlipV";
}

.tainacan-icon-spin:before {
	-webkit-animation: mdi-spin 2s infinite linear;
	animation: mdi-spin 2s infinite linear;
}

@-webkit-keyframes mdi-spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}

@keyframes mdi-spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}

/*# sourceMappingURL=editor-style.css.map */