/*--------------------------------------------------------------
# Base Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
	color: #1e1e1e;
	font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 1rem;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

p {
	margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #d9d9d9;
	font-family: "Courier 10 Pitch", courier, monospace;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
	border-bottom: 1px dotted #bfbfbf;
	cursor: help;
}

mark,
ins {
	background: #f1f1f1;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/* Accessibility
--------------------------------------------- */
/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #970620;
	display: block;
	font-size: 0.875rem;
	font-weight: 700;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
	outline: 0;
}

/* Alignments
--------------------------------------------- */
.alignleft {
	/*rtl:ignore*/
	float: left;
	/*rtl:ignore*/
	margin-right: 1.5em;
	margin-bottom: 1.5em;
}

.alignright {
	/*rtl:ignore*/
	float: right;
	/*rtl:ignore*/
	margin-left: 1.5em;
	margin-bottom: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.5em;
}

/* Styles related mostly to gutenberg blocks. 
--------------------------------------------- */
.wp-block-button .wp-block-button__link {
	border-radius: 0px;
	line-height: 1;
	letter-spacing: 2px;
	padding: 0.6em 1em 0.6em;
	font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 0.875rem;
	text-transform: uppercase;
	border: 1px solid;
	border-color: #58020b;
	background: #ffffff;
	color: #58020b;
	transition: background 0.2s ease, border 0.2s ease, color 0.2s ease;
}

.wp-block-button .wp-block-button__link:hover {
	border-color: #58020b;
	background-color: #58020b;
	color: #ffffff;
}

.wp-block-button .wp-block-button__link:active, .wp-block-button .wp-block-button__link:focus {
	border-color: #58020b;
	background-color: #58020b;
	color: #ffffff;
}

.wp-block-button.is-style-clear .wp-block-button__link {
	text-transform: none;
	border: 1px solid;
	border-color: #d9d9d9;
	background: #ffffff;
	color: #898d8f;
	transition: background 0.2s ease, border 0.2s ease, color 0.2s ease;
}

.wp-block-button.is-style-clear .wp-block-button__link:hover {
	border-color: #515151;
	background-color: #ffffff;
	color: #515151;
}

.wp-block-button.is-style-clear .wp-block-button__link:active, .wp-block-button.is-style-clear .wp-block-button__link:focus {
	border-color: #898d8f;
	background-color: #ffffff;
	color: #898d8f;
}

.wp-block-button:not(.has-text-color) [data-rich-text-placeholder]::after {
	color: #d9d9d9;
}

.wp-block-button.aligncenter,
.wp-block-button.alignleft,
.wp-block-button.alignright {
	display: block;
}

.is-style-column-iphan {
	border: 1px solid #58020b;
	padding: 30px;
	background-color: rgba(255, 255, 255, 0.7);
	overflow-wrap: anywhere;
}

@media screen and (orientation: portrait) and (max-width: 1024px) {
	.is-style-column-iphan {
		margin-bottom: 5%;
	}
}

.is-style-column-iphan-secundary {
	border: 1px solid #515151;
	padding: 30px;
	background-color: rgba(255, 255, 255, 0.7);
	overflow-wrap: anywhere;
}

@media screen and (orientation: portrait) and (max-width: 1024px) {
	.is-style-column-iphan-secundary {
		margin-bottom: 5%;
	}
}

.is-style-title-iphan-underscore {
	margin-bottom: 65px;
	color: #58020b !important;
	text-transform: uppercase;
}

@media screen and (min-width: 1024px) {
	.is-style-title-iphan-underscore::after {
		content: "";
		position: relative;
		height: 15px;
		width: 15%;
		border-bottom: 6px solid #58020b;
		display: block;
		z-index: 10;
	}
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
	.is-style-title-iphan-underscore::after {
		content: "";
		position: absolute;
		width: 15%;
		height: 15px;
		border-bottom: 6px solid #58020b;
		display: block;
		z-index: 10;
	}
}

@media screen and (max-width: 768px) and (orientation: portrait) {
	.is-style-title-iphan-underscore::after {
		content: "";
		position: absolute;
		width: 18%;
		height: 15px;
		border-bottom: 6px solid #58020b;
		display: block;
		z-index: 10;
	}
}

@media screen and (max-width: 768px) and (orientation: landscape) {
	.is-style-title-iphan-underscore::after {
		content: "";
		position: absolute;
		width: 12%;
		height: 15px;
		border-bottom: 6px solid #58020b;
		display: block;
		z-index: 10;
	}
}

.is-style-title-iphan-underscore h4::after,
.is-style-title-iphan-underscore h5::after,
.is-style-title-iphan-underscore h6::after {
	display: none !important;
}

.editor-post-title.editor-post-title__block {
	margin-bottom: 65px;
	color: #58020b !important;
	text-transform: uppercase;
}

@media screen and (min-width: 1024px) {
	.editor-post-title.editor-post-title__block::after {
		content: "";
		position: relative;
		height: 15px;
		width: 15%;
		border-bottom: 6px solid #58020b;
		display: block;
		z-index: 10;
		top: -24px;
	}
}

.is-style-title-iphan {
	overflow-wrap: anywhere;
}

/* .block-editor-block-list__layout .is-style-title-iphan-underscore::after{
    @media screen and (min-width: $screen__md) {
        top: 30%;
        content: "" !important;
        position: absolute !important;
        height: 100%;
        width: 75px;
        border-bottom: 6px solid #58020b;
        display: block;
        z-index: 10;
    }

    @media screen and (max-width: $screen__md) and (orientation: landscape) {
         top: 30%;
        content: "" !important;
        position: absolute !important;
        height: 100%;
        width: 7px;
        border-bottom: 6px solid #58020b;
        display: block;
        z-index: 10;
    }

    @media screen and (max-width: $screen__sm) and (orientation: portrait) {
        top: 30%;
        content: "" !important;
        position: absolute !important;
        height: 100%;
        width: 15px;
        border-bottom: 6px solid #58020b;
        display: block;
        z-index: 10;
    }

    @media screen and (max-width: $screen__sm) and (orientation: landscape) {
        top: 30%;
        content: "" !important;
        position: absolute !important;
        height: 100%;
        width: 10px;
        border-bottom: 6px solid #58020b;
        display: block;
        z-index: 10;
    }
} */
.editor-block-list__layout,
.block-editor-block-list__layout {
	padding-left: 5.48%;
	padding-right: 5.48%;
}

.editor-writing-flow__click-redirect {
	width: auto;
}

.editor-inner-blocks,
.block-editor-inner-blocks,
.wp-block-group__inner-container,
.wp-block-cover__inner-container > .wp-block,
.editor-inner-blocks > .editor-block-list__layout,
.block-editor-inner-blocks > .block-editor-block-list__layout {
	padding-left: 0;
	padding-right: 0;
}

/* Main column width */
.wp-block {
	max-width: calc(1300px - (2 * 5.48%));
	padding-left: 5.48%;
	padding-right: 5.48%;
}

/* Width of "wide" blocks */
.wp-block[data-align="wide"] {
	max-width: 1300px;
	padding-left: 0;
	padding-right: 0;
}

.wp-block[data-align="wide"] .wp-block-columns {
	padding-left: 0;
	padding-right: 0;
}

/* Width of "full" blocks */
.block-editor-block-list__layout.is-root-container > .wp-block[data-align="full"],
.wp-block[data-align="full"] {
	max-width: calc(100% + (2 * 5.48%));
	width: calc(100% + (2 * 5.48%));
	margin-left: -5.48%;
	margin-right: -5.48%;
	padding-left: 0;
	padding-right: 0;
}

/*# sourceMappingURL=editor-style.css.map */