.style-card-iphan {
    border: 1px solid $color__vermelho1;
    max-height: 400px;
    padding: 20px;
    padding-top: 35px;
    & .block-editor-inner-blocks {
        display: flex;
    }
    & .wp-block-button {
        display: flex;
        justify-content: flex-end;
    }
    & .block-editor-block-list__layout {
        width: 100%;
    }
}

.content-card-iphan {
    white-space: pre-wrap;
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 259px;
}
