.style-card-iphan {
    border: 1px solid $color__vermelho1;
    height: 400px;
    padding: 20px;
    padding-top: 35px;
}

.content-card-iphan {
    white-space: pre-wrap;
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 259px;
}
