.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

.comments-area > h2,
.comment-author > .says {
	display: none;
}

.comment-form-comment > textarea {
	height: 100px;
}

.comment-form-author,
.comment-form-url,
.comment-form-email {
	display: flex;
	flex-direction: column;
}

.comment-form-author > label,
.comment-form-url > label,
.comment-form-email > label,
.comment-form-comment > label {
	color: $color__vermelho1;
	font-weight: bold;
	margin-bottom: 20px;
}

.comment-form-author > input,
.comment-form-email > input,
.comment-form-url > input {
	border-top: none;
	border-left: none;
	border-right: none;
	border-radius: 0px;
	width: 40%;
	margin-bottom: 20px;
}

.comment-meta {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.children .comment-meta:last-child {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.comment-meta:last-child li::marker {
	display: none;
	/* font-variant-numeric: unset; */
	list-style-type: none;
}

li > article {
	border-bottom: 1px solid $color__cinza3;
	padding-bottom: 12px;
	margin-bottom: 20px;
}

.comments-area li {
	list-style: none;
}
