.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/* .comment-author,
.comment-metadata {
	word-wrap: anywhere;
} */

.comments-area > h2,
.comment-author > .says {
	display: none;
}

.comment-form-comment > textarea {
	height: 100px;
}

.comment-form-author,
.comment-form-url,
.comment-form-email {
	display: flex;
	flex-direction: column;
}

.comment-form-author > label,
.comment-form-url > label,
.comment-form-email > label,
.comment-form-comment > label {
	color: $color__vermelho1;
	font-weight: bold;
	margin-bottom: 20px;
	margin-left: 20px;
}

.comment-form-author > input,
.comment-form-email > input,
.comment-form-url > input {
	border-top: none;
	border-left: none;
	border-right: none;
	border-radius: 0px;
	width: 40%;
	margin-bottom: 20px;
	font-style: italic;
	color: #000;
}

.comment-form-comment > textarea {
	font-style: italic;
	color: #000;
}

.comment-meta {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.children .comment-meta:last-child {
	display: flex;
	width: 100%;
	margin-bottom: 20px;
}

.comment-meta:last-child li::marker {
	display: none;
	/* font-variant-numeric: unset; */
	list-style-type: none;
}

.comment-collapse::after {
	content: "+";
	float: right;
	font-size: 20px;
}

li > article {
	border-bottom: 1px solid $color__cinza3;
	padding-bottom: 12px;
	margin-bottom: 40px;
	/* 	word-break: break-all; */
}

.comments-area li {
	list-style: none;
}
.comment-metadata {
	margin-left: 10px;
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.comment-metadata > a {
	margin-left: auto;
	margin-right: 5px;
}
.time-ago {
	font-style: italic;
	color: $color__vermelho1;
}

.fn {
	color: $color__vermelho1;
}

.reply {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.form-submit {
	display: flex;
	justify-content: flex-end;
}

.comment-reply-link > i {
	color: $color__cinza4;
}

.comment-reply-link > i:hover {
	color: $color__vermelho1;
}

.form-submit {
	margin-top: 20px;
	margin-bottom: 20px;
}

.nav-links > .dots {
	color: $color__vermelho1;
	background-color: $color__branco;
	padding-right: 4px;
	margin-right: 10px;
}
