.banner-or {
    height: 420px;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 150px;
    position: relative;
}

.banner-footer {
    width: 100%;
    height: 100%;
    background-size: cover;
    filter: brightness(70%);
    display: flex;
    justify-content: center;
}
.banner-footer:first-child {
    position: absolute;
    left: 0;
}
.banner-footer:last-child {
    position: absolute;
    right: 0;
    z-index: 5;
    clip-path: polygon(25% 0, 100% 0, 100% 100%, 5% 100%);
}

.separator-banner-footer {
    padding: 5px;
    background-color: $color__branco;
    transform: rotate(297deg);
    z-index: 1;
    position: absolute;
    width: 35%;
    margin-top: 12%;
    z-index: 10;
}

.div-banner-buttons {
    position: absolute;
}

.banner-footer-or {
    position: absolute;
    top: 35%;
    z-index: 99;
    width: 7%;
    height: 30%;
    padding: 20px;
    background-color: $color__cinza2;
    border-radius: 50%;
    border: 3px solid $color__branco;
}

.text-banner-footer {
    text-align: center;
    display: flex;
    margin-left: 5%;
    margin-top: 7%;
    font-size: 3.125rem;
    color: $color__vermelho1;
    transform: rotate(0deg);
    text-transform: uppercase;
    font-weight: bolder;
}
.button-white-footer-banner {
    font-size: 1.5rem;
    border: 3px solid $color__branco;
    width: 365px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    color: $color__branco !important;
    font-weight: 900;
    filter: brightness(100%);
    margin-top: 16%;
    margin-bottom: auto;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.15);
}
