.banner-or {
    height: 420px;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 150px;
    position: relative;
}

.banner-footer {
    @media screen and (min-width: $screen__sm) {
        width: 100%;
        height: 100%;
    }
    @media screen and (max-width: $screen__sm) {
        width: 49%;
        height: 100%;
    }
    background-size: cover;
    filter: brightness(70%);
    display: flex;
    justify-content: center;
}
.banner-footer:first-child {
    position: absolute;
    left: 0;
    @media screen and (min-width: $screen__sm) {
        clip-path: polygon(0 0, 95% 0, 75% 100%, 0% 100%);
    }
}
.banner-footer:last-child {
    position: absolute;
    right: 0;
    z-index: 5;
    @media screen and (min-width: $screen__sm) {
        clip-path: polygon(24.5% 0, 100% 0, 100% 100%, 4.5% 100%);
    }
}

.separator-banner-footer {
    padding: 5px;
    background-color: $color__branco;
    transform: rotate(297deg);
    position: absolute;
    width: 35%;
    margin-top: 12%;
    z-index: 10;
}

.div-banner-buttons {
    position: absolute;
}

.banner-footer-or {
    @media screen and (min-width: $screen__sm) {
        padding: 20px;
    }
    @media screen and (max-width: $screen__sm) {
        padding: 10px;
    }
    position: absolute;
    top: 37%;
    z-index: 99;
    background-color: $color__cinza2;
    border-radius: 50%;
    border: 3px solid $color__branco;
}

.text-banner-footer {
    text-align: center;
    display: flex;
    font-size: 2.5rem;
    color: $color__vermelho1;
    transform: rotate(0deg);
    text-transform: uppercase;
    font-weight: bolder;
}
.button-white-footer-banner {
    font-size: 1.5rem;
    border: 3px solid $color__branco;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    color: $color__branco !important;
    font-weight: 900;
    filter: brightness(100%);
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.15);
    flex-wrap: nowrap;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 7;
}

.separator-banner-footer-horizontal {
    @media screen and (min-width: $screen__sm) {
        padding: 2px;
        background-color: $color__branco;
        transform: rotate(0deg);
        width: 20%;
        z-index: 6;
    }
}
.buttons-banner-footer {
    z-index: 10;
    display: flex;
    width: 100%;
    align-items: center;
    margin-left: 6%;
    @media screen and (min-width: $screen__sm) {
        justify-content: center;
    }
    @media screen and (max-width: $screen__sm) {
        flex-direction: column;
        justify-content: space-around;
    }
}
