/* Branco */
.has-branco-background-color {
    background-color: $color__branco
}
.has-branco-color {
    color: $color__branco
}

/* Preto */
.has-preto-background-color {
    background-color: $color__preto;
}
.has-preto-color {
    color: $color__preto;
}

/* Vermelho */
.has-vermelho-background-color {
    background-color: $color__vermelho1;
}
.has-vermelho-color {
    color: $color__vermelho1;
}

/* Vermelho 2*/
.has-vermelho-2-background-color {
    background-color: $color__vermelho2;
}
.has-vermelho-2-color {
    color: $color__vermelho2;
}

/* Amarelo */
.has-amarelo-background-color {
    background-color: $color__amarelo1;
}
.has-amarelo-color {
    color: $color__amarelo1;
}

/* Amarelo 2*/
.has-amarelo-2-background-color {
    background-color: $color__amarelo2;
}
.has-amarelo-2-color {
    color: $color__amarelo2;
}

/* Verde */
.has-verde-background-color {
    background-color: $color__verde;
}
.has-verde-color {
    color: $color__verde;
}

/* Laranja */
.has-laranja-background-color {
    background-color: $color__laranja;
}
.has-laranja-color {
    color: $color__laranja;
}

/* Branco 1 */
.has-branco-1-background-color {
    background-color: $color__branco1;
}
.has-branco-1-color {
    color: $color__branco1;
}

/* Cinza 1 */
.has-cinza-1-background-color {
    background-color: $color__cinza1;
}
.has-cinza-1-color {
    color: $color__cinza1;
}

/* Cinza 2 */
.has-cinza-2-background-color {
    background-color: $color__cinza2;
}
.has-cinza-2-color {
    color: $color__cinza2;
}

/* Cinza 3 */
.has-cinza-3-background-color {
    background-color: $color__cinza3;
}
.has-cinza-3-color {
    color: $color__cinza3;
}

/* Cinza 4 */
.has-cinza-4-background-color {
    background-color: $color__cinza4;
}
.has-cinza-4-color {
    color: $color__cinza4;
}

/* Cinza 5 */
.has-cinza-5-background-color {
    background-color: $color__cinza5;
}
.has-cinza-5-color {
    color: $color__cinza5;
}

/* Cinza 6 */
.has-cinza-6-background-color {
    background-color: $color__cinza6;
}
.has-cinza-6-color {
    color: $color__cinza6;
}

/* Cinza 7 */
.has-cinza-7-background-color {
    background-color: $color__cinza7;
}
.has-cinza-7-color {
    color: $color__cinza7;
}