.is-style-button-left {
    display: flex;
    justify-content: flex-start;
}

.is-style-button-center {
    display: flex;
    justify-content: center;
}

.is-style-button-right {
    display: flex;
    justify-content: flex-end;
}
