.is-style-title-iphan-underscore {
    margin-top: 0;
    margin-bottom: 44px;
    color: $color__vermelho1 !important;
    text-transform: uppercase;

    &::after {
        content: "";
        position: relative;
        height: 15px;
        width: 4.5rem;
        border-bottom: 6px solid $color__vermelho1;
        display: block;
        z-index: 10;
    }
}

.is-style-title-iphan-underscore h4::after,
.is-style-title-iphan-underscore h5::after,
.is-style-title-iphan-underscore h6::after {
    display: none !important;
}

.editor-post-title.editor-post-title__block {
    margin-bottom: 65px;
    textarea {
        text-transform: uppercase;
        font-family: $font__heading;
        font-weight: 500;
        font-size: 1.5rem;
        color: $color__vermelho1 !important;
    }

    &::after {
        @media screen and (min-width: $screen__md) {
            content: "";
            position: relative;
            height: 15px;
            width: 15%;
            border-bottom: 6px solid $color__vermelho1;
            display: block;
            z-index: 10;
            top: -24px;
        }
    }
}

.is-style-title-iphan {
    overflow-wrap: anywhere;
}