// Inner blocks do not need all that spacing,
// otherwise they won't match their theme result
.editor-inner-blocks, 
.block-editor-inner-blocks,
.wp-block-group__inner-container>.wp-block,
.wp-block-cover__inner-container>.wp-block,
.editor-inner-blocks>.editor-block-list__layout,
.block-editor-inner-blocks>.block-editor-block-list__layout  {
    padding-left: 0;
    padding-right: 0;
    max-width: 100%;
}

/* Main column width */
.wp-block {
    max-width: $container__max-width_with_padding;
    font-family: $font__main;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    &.wp-block {
        margin-top: 0;
    }
}

/* Width of "wide" blocks */
.wp-block[data-align="wide"] {
    max-width: $container__inner_max-width;
    padding-left: 0;
    padding-right: 0;

    .wp-block-columns {
        padding-left: 0;
        padding-right: 0;
    }
}

/* Width of "full" blocks */
.block-editor-block-list__layout.is-root-container > .wp-block[data-align="full"],
.wp-block[data-align="full"] {
    max-width: calc(100% + 20px);
    width: $container__max-width_without_margin;
    margin-left: - 10px;
    margin-right: - 10px;
    padding-left: 0;
    padding-right: 0;
}

