.edit-post-visual-editor.editor-styles-wrapper,
.components-modal__screen-overlay {

    // Editor Block list side spacing
    .editor-block-list__layout,
    .block-editor-block-list__layout {
        padding-left: $container__side-padding;
        padding-right: $container__side-padding;
    }
    .editor-writing-flow__click-redirect {
        width: auto;
    }
    // Inner blocks do not need all that spacing,
    // otherwise they won't match their theme result
    .editor-inner-blocks,
    .block-editor-inner-blocks,
    .wp-block-group__inner-container,
    .wp-block-cover__inner-container>.wp-block,
    .editor-inner-blocks>.editor-block-list__layout,
    .block-editor-inner-blocks>.block-editor-block-list__layout  {
        padding-left: 0;
        padding-right: 0;
    }

    /* Main column width */
    .wp-block {
        max-width: $container__max-width_with_padding;
        padding-left: $container__side-padding;
        padding-right: $container__side-padding;
    }

    /* Width of "wide" blocks */
    .wp-block[data-align="wide"] {
        max-width: $container__max-width;
        padding-left: 0;
        padding-right: 0;

        .wp-block-columns {
            padding-left: 0;
            padding-right: 0;
        }
    }

    /* Width of "full" blocks */
    .block-editor-block-list__layout.is-root-container > .wp-block[data-align="full"],
    .wp-block[data-align="full"] {
        max-width: $container__max-width_without_margin;
        width: $container__max-width_without_margin;
        margin-left: - $container__side-padding;
        margin-right: - $container__side-padding;
        padding-left: 0;
        padding-right: 0;
    }

}