.wp-block-file {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.wp-block-file > a {
    padding-bottom: 12px;
    margin-bottom: 20px;
    color: $color__vermelho1;
    border-bottom: 1px solid $color__cinza3;
    padding-top: 0px;
    margin-top: 0px;
    font-weight: bold;
}
