.is-style-download {
    margin-top: 0px !important;
    padding-bottom: 12px;
    border-bottom: 1px solid $color__cinza3;
    margin-bottom: 20px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.is-style-download > a,
.is-style-download .wp-block-file__textlink {
    color: $color__vermelho1;
    padding-top: 0px;
    margin-top: 0px;
    font-weight: bold;
    font-size: 1rem;
}

.is-style-download > a > i,
.is-style-download i {
    color: $color__vermelho1;
}

.is-style-download .wp-block-file__button {
    background: $color__branco !important;
    content: none;
    color: $color__preto;
}

.is-style-download .wp-block-file__button::after {
    content: "download";
    display: inline-block;
    font: normal normal normal 1.25em "TainacanIcons";
    font-size: inherit;
    text-rendering: auto;
    vertical-align: middle;
    line-height: inherit;
    text-transform: none !important;
    letter-spacing: normal !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $color__vermelho1;
    font-size: 1.25em;
    background: $color__branco;
}

.is-style-download .wp-block-file__content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
