.site-container {
    margin-left: auto !important;
    margin-right: auto !important;
    padding-left: $container__side-padding;
    padding-right: $container__side-padding;
    max-width: $container__max-width;
    width: 100%; 
}
.content-container {
    margin-left: auto !important;
    margin-right: auto !important;
    padding-left: $container__side-padding;
    padding-right: $container__side-padding;
    max-width: $container__inner_max-width;
    width: 100%; 
}

.alignwide {
    margin-left: $container__side-padding_x-2 !important;
    margin-right: $container__side-padding_x-2 !important;
    width: $container__max-width_without_margin_2x;
    max-width: $container__max-width;

	@media only screen and (max-width: $container__inner_max-width) {
        margin-left: auto !important;
        margin-right: auto !important;
		max-width: 100%;
    }
}

.alignfull {
    margin-left: calc( -100vw / 2 + 100% / 2 ) !important;
    margin-right: calc( -100vw / 2 + 100% / 2 ) !important;
    max-width : 100%;
    max-width : 100vw;
    width: 100%;
    width: 100vw;
}