.site-container {
    margin-left: auto !important;
    margin-right: auto !important;
    padding-left: $container__side-padding;
    padding-right: $container__side-padding;
    max-width: $container__max-width;
    width: 100%; 
}