.site-footer {
    > .separator {
        margin-top: 60px;
    }
    .widget:last-child {
        margin-bottom: 0px !important;
    }
    z-index: 5;
    margin-top: 70px;
    background-image: $gradiente__vermelho;
    color: $color__branco;
    font-family: $font__heading;
    a,
    a:hover,
    a:focus,
    a:visited {
        color: $color__branco;
    }
    .widget-area {
        & > .widget,
        & > .widget div {
            break-inside: avoid;
        }

        @media screen and (max-width: $screen__sm) and (orientation: portrait) {
            column-count: 1;
            padding-top: 70px;
            justify-content: space-between;
            flex-direction: column;
            display: flex;
        }

        @media screen and (min-width: $screen__sm) {
            .plus-minus {
                display: none;
            }
        }

        @media screen and (max-width: $screen__sm) and (orientation: landscape) {
            column-count: 1;
            padding-top: 70px;
            justify-content: space-between;
            flex-direction: row;
            display: flex;
        }
        @media screen and (min-width: $screen__sm) {
            column-count: 3;
            padding-top: 70px;
            padding-bottom: calc(70px - 0.75em);
            justify-content: space-between;
            flex-direction: row;
            display: flex;
        }
        @media screen and (min-width: $screen__md) {
            padding-top: 70px;
            padding-bottom: calc(0px - 0.75em);
            justify-content: space-between;
            column-count: 4;
            flex-direction: row;
            display: flex;
        }

        .plus-minus::after {
            @media screen and (max-width: $screen__sm) {
                content: "+";
                float: right;
                margin-top: -9%;
            }
        }
        .active .plus-minus::after {
            @media screen and (max-width: $screen__sm) {
                content: "-";
                float: right;
                margin-top: -9%;
            }
        }
    }
    hr {
        height: 2px;
        margin: 0px;
        color: $color__branco;
    }
    .site-info {
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .site-info i {
        @media screen and (orientation: portrait) and (max-width: $screen__sm) {
            font-size: 2.188rem;
        }

        @media screen and (orientation: landscape) and (max-width: $screen__sm) {
            font-size: 2.188rem;
        }

        @media screen and (min-width: $screen__sm) {
            font-size: 2.188rem;
        }
    }

    .site-info > .icons-footer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: nowrap;
        padding-left: 12px;
    }

    .site-info > .fonte-iphan {
        font-size: 1.563rem;
    }
    > .site-container > .site-info > img {
        @media screen and (min-width: $screen__sm) {
            width: 100%;
            max-width: 157px;
        }
        @media screen and (max-width: $screen__sm) and (orientation: portrait) {
            width: 100%;
            max-width: 110px;
        }
        @media screen and (max-width: $screen__sm) and (orientation: landscape) {
            width: 100%;
            max-width: 110px;
        }
    }
}

.collapsible {
    @media only screen and (max-width: $screen__sm) {
        cursor: pointer;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
    }
}

.active,
.collapsible:hover {
}

.content {
    @media only screen and (max-width: $screen__sm) {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }
}

.imgFooter {
    max-width: 35px;
    max-height: 35px;
    height: auto;
    width: 35px;
    padding-left: 20%;
}
.icons-footer > a:last-child > .imgFooter {
    margin-right: 20%;
}
.icons-footer > a {
    margin-right: 1%;
    margin-left: 1%;
}
.icons-footer > a:last-child {
    margin-right: 0%;
}
