.hr-posts-relacionados {
    background-color: $color__vermelho1;
    padding: 0.5px;
    margin-top: 150px;
    margin-bottom: 70px;
}

.swiper-container > .swiper-wrapper > a {
    @media screen and (min-width: $screen__lg) {
        height: 295px;
    }
    @media screen and (min-width: $screen__md) {
        height: 230px;
    }
    @media screen and (min-width: $screen__sm) {
        height: 285px;
    }
    @media screen and (min-width: $screen__xs) {
        height: 225px;
    }
}

.navigation-posts-relacionados {
    top: 40px;
}

.swiper-wrapper > a {
    display: flex;
}

.container-navigation-relacionados > .navigation-posts-relacionados > .swiper-button-prev {
    left: 0px;
}
.container-navigation-relacionados > .navigation-posts-relacionados > .swiper-button-next {
    left: 40px;
}

.container-navigation-relacionados {
    position: relative;
    margin-bottom: 150px !important;
}

.swiper-container > .swiper-wrapper > a.swiper-slide {
    background-color: $color__vermelho1;
    border-radius: 4px;
}
