.excerpt {
    width: auto;
    height: auto;
}

.border-excerpt {
    @media screen and (min-width: $screen__md) {
        border: 1px solid $color__cinza6;
        padding: 20px;
        overflow-wrap: anywhere;
    }
    @media screen and (max-width: $screen__md) {
        padding: 10px;
        overflow-wrap: anywhere;
    }
    & img {
        width: auto;
        height: auto;
    }
}

.thumb-resume {
    @media screen and (min-width: $screen__md) {
        margin-left: 0px;
        padding-left: 0px;

        img {
            max-height: 215px;
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}

#hrResume {
    @media screen and (min-width: $screen__md) {
        margin-bottom: 1.875rem;
        background-color: transparent;
    }
}

#hrResume:last-child {
    margin-bottom: 5.313rem;
    @media screen and (min-width: $screen__md) {
        background-color: transparent;
    }
}

.info-footer-resume {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: auto;
}

.posicionamento-excerpt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (min-width: $screen__md) {
        padding-right: 0;
    }
}

.date-excerpt {
    bottom: 0px;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    display: block;
    padding-right: 10px;
}

.ultimas-noticias {
    margin-bottom: 4.063rem !important;
}

.categoria-excerpt > ul {
    margin-left: 0px;
    padding-left: 0px;
}

.categoria-excerpt li {
    list-style: none;
    line-height: 1.5;
}
.categoria-excerpt a {
    color: $color__cinza6;
    text-transform: uppercase;
}

.post-categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.post-categories > li > a {
    margin-right: 20px;
}
.categoria-excerpt {
    font-size: 0.875rem;
    font-weight: 700;
}

.date-excerpt-position {
    overflow: hidden;
}

.margin-list-post {
    margin-left: 15px;
}

.correcao-hr-categoria {
    margin-left: 10%;
    margin-right: 10%;
}
