.excerpt {
    width: auto;
    height: auto;
}

.border-excerpt {
    @media screen and (min-width: $screen__md) {
        border: 1px solid $color__cinza6;
        padding: 20px;
        overflow-wrap: anywhere;
    }
    @media screen and (max-width: $screen__md) {
        padding: 10px;
        overflow-wrap: anywhere;
    }
    & img {
        width: auto;
        height: auto;
    }
}

.thumb-resume {
    @media screen and (min-width: $screen__md) {
        margin-left: 0px;
        padding-left: 0px;
    }
}

#hrResume {
    @media screen and (min-width: $screen__md) {
        margin-bottom: 3.125rem;
        background-color: transparent;
    }
}

#hrResume:last-child {
    margin-bottom: 5.313rem;
    @media screen and (min-width: $screen__md) {
        background-color: transparent;
    }
}

.ler-mais {
    text-decoration: none !important;
    border: 1px solid $color__vermelho1;
    float: right;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    right: 0px;
    bottom: 0px;
    @media screen and (min-width: $screen__md) {
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    @media screen and (max-width: $screen__md) {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 6px;
        padding-bottom: 4px;
    }
}

.info-footer-resume {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: auto;
}

.posicionamento-excerpt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ler-mais:hover {
    text-decoration: none !important;
    border: 1px solid $color__vermelho1;
    float: right;
    text-transform: uppercase;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    letter-spacing: 0.1rem;
    right: 0px;
    bottom: 0px;
    background-color: $color__vermelho1;
    color: $color__branco;
}

.date-exerpt {
    bottom: 0px;
}

.ultimas-noticias {
    margin-bottom: 4.063rem !important;
}

.categoria-excerpt > ul {
    margin-left: 0px;
    padding-left: 0px;
}

.categoria-excerpt li {
    list-style: none;
}
.categoria-excerpt a {
    color: #515151;
    text-transform: uppercase;
}

.post-categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.post-categories > li > a {
    margin-right: 20px;
}
.categoria-excerpt {
    font-size: 0.875rem;
}
