.inventario-header {
    & .breadcrumb {
        margin-bottom: 0px !important;
    }
    .inventario {
        display: flex;
        & .barra-lateral {
            @media screen and (min-width: $screen__sm) {
                width: 375px;
                border-right: 2px solid $color__vermelho1;
                height: 100%;
            }
        }
        & .barra-lateral > div {
            @media screen and (min-width: $screen__sm) {
                width: 330px;
            }
        }
        & .barra-lateral > :not(div:last-child) {
            @media screen and (min-width: $screen__sm) {
                margin-bottom: 50px;
            }
        }
        & .barra-lateral > div:first-child,
        .post-inventario {
            @media screen and (min-width: $screen__sm) {
                margin-top: 150px;
            }
        }
        & .barra-lateral > div > h3 {
            margin-bottom: 30px;
            color: $color__vermelho1;
        }
        & .post-inventario {
        }
        & .alinhamento-template-inventarios {
            display: flex;
        }
    }
}
