.inventario-header {
    & .breadcrumb {
        margin-bottom: 0px !important;
    }
    .inventario {
        display: flex;
        padding-left: 0px;
        & .barra-lateral {
            background: $color__barra-lateral-inventario;
            @media screen and (min-width: $screen__sm) {
                width: 485px;
                border-right: 2px solid $color__vermelho1;
                height: 100%;
            }
        }
        & .barra-lateral > div {
            @media screen and (min-width: $screen__sm) {
                width: 330px;
                margin-left: 110px;
            }
        }
        & .barra-lateral > :not(div:last-child) {
            @media screen and (min-width: $screen__sm) {
                margin-bottom: 50px;
            }
        }
        & .barra-lateral > div:first-child,
        .post-inventario {
            @media screen and (min-width: $screen__sm) {
                margin-top: 150px;
            }
        }
        & .barra-lateral > div > h3 {
            margin-bottom: 30px;
            color: $color__vermelho1;
        }
        & .post-inventario {
            margin-left: 50px;
            margin-bottom: 100px;
            width: auto;
            padding-right: 4.73%;
        }
        & .alinhamento-template-inventarios {
            display: flex;
            width: 100%
        }
    }
}

.inventario-footer {
    & .hr-posts-relacionados {
        margin-top: 0px !important;
    }
}
