.text-banner {
    position: absolute;
    top: 20%;
    left: 10%;
    line-height: 5rem;
}
.title-banner {
    text-transform: uppercase;
    background-color: RGB(88, 2, 11, 0.7);
    color: $color__branco;
    font-size: 5rem;
    padding-left: 3%;
    padding-right: 3%;
}

.title-banner:first-child {
    font-weight: bold;
}
.title-banner:last-child {
    font-weight: lighter;
    letter-spacing: 5px;
}
