details > summary::-webkit-details-marker,
details > summary::marker {
    display: none;
}

details > p {
    margin-top: 0px;
    margin-bottom: 0px;
}

details > summary::before {
    float: right;
    font-weight: bold;
}
details[open] summary.tainacan-icon-showmore:before {
    transform: rotate(180deg);
}
