//remove o ícone do summary do opera e chrome
details > summary::-webkit-details-marker {
    display: none;
}
//remove o ícone do summary do mozila
details summary {
    list-style-type: none;
}
details > p,
span.span-summary + p {
    margin-top: 0px;
    margin-bottom: 0px;
}

details > summary::before,
span.tainacan-icon-showmore:before {
    float: right;
    font-weight: bold;
}
details[open] summary.tainacan-icon-showmore:before,
span.show.tainacan-icon-showmore:before {
    transform: rotate(180deg);
}

summary,
span.span-summary {
    font-weight: bold;
    width: 100%;
    max-height: 100px;
}

.wp-block {
    max-width: 100%;
}

//Teste com o span

.collapse {
    display: none;
}

.show {
    display: block;
}
