//remove o ícone do summary do opera e chrome
details > summary::-webkit-details-marker {
    display: none;
}
//remove o ícone do summary do mozila
details summary {
    list-style-type: none;
}
details > p {
    margin-top: 0px;
    margin-bottom: 0px;
}

details > summary::before {
    float: right;
    font-weight: bold;
}
details[open] summary.tainacan-icon-showmore:before {
    transform: rotate(180deg);
}

summary {
    font-weight: bold;
    width: 100%;
    max-height: 100px;
}

.wp-block {
    max-width: 100%;
}
