details.wp-block-iphan-accordion-custom > summary::-webkit-details-marker {
    display: none;
}

details.wp-block-iphan-accordion-custom > summary::before {
    float: right;
    font-weight: bold;
}
details[open].wp-block-iphan-accordion-custom summary.tainacan-icon-showmore:before {
    transform: rotate(180deg);
}

summary {
    font-weight: bold;
}
