.main-navigation {
    display: block;
    .menu {
        @media screen and (max-width: $screen__md) {
            border-bottom: 5px solid $color__vermelho1;
        }
    }
    .menu > li > a {
        @media screen and (max-width: $screen__sm) {
            margin-bottom: 20px;
        }
    }
    .sub-menu > li > a {
        @media screen and (max-width: $screen__md) {
            margin-bottom: 10px;
        }
    }
    ul {
        list-style: none;
        margin: 0;
        padding-left: 0;
        @media screen and (max-width: $screen__sm) {
            display: none;
        }
        @media screen and (min-width: $screen__sm) {
            display: block;
        }
        ul.sub-menu {
            @media screen and (min-width: $screen__sm) {
                border-top: 1px solid $color__cinza3;
                border-left: 1px solid $color__cinza3;
                border-right: 1px solid $color__cinza3;
                border-bottom: 5px solid $color__vermelho1;
                flex-direction: column;
                background-color: $color__branco;
                padding: 10px 20px;
                float: left;
                position: absolute;
                top: 100%;
                left: -999em;
                z-index: 99999;
                margin-top: 0px;
                transition: margin 0.3s ease-out;
                &::before {
                    content: "";
                    height: 10px;
                    width: 100%;
                    position: absolute;
                    top: -10px;
                }
            }
            @media screen and (max-width: $screen__md) {
                > li {
                    margin-top: 0px;
                    margin-bottom: 0px;
                }
                > li > a {
                    color: $color__cinza6 !important;
                }
            }
            ul {
                left: -999em;
                top: 0;
            }
            li.menu-item {
                @media screen and (min-width: $screen__md) {
                    text-align: right;
                    line-height: 1.5;
                    justify-content: flex-end;
                    margin-right: 0 !important;
                    padding-right: 0 !important;
                    border: none;
                }
                @media screen and (max-width: $screen__md) {
                    text-align: right;
                    justify-content: flex-end;
                    margin-right: 0 !important;
                    padding-right: 0 !important;
                    border: none;
                }
                &:not(:last-child) {
                    @media screen and (min-width: $screen__md) {
                        border-bottom: 1px solid $color__cinza4;
                    }
                }
                &:hover > ul,
                &.focus > ul {
                    display: block;
                    left: auto;
                }
                &:hover {
                    border-color: $color__cinza3;
                    a,
                    a:hover {
                        color: $color__vermelho1;
                    }
                }
                a,
                a:visited,
                a:focus,
                a:hover {
                    white-space: nowrap;
                    min-width: 120px;
                    font-weight: 500;
                    color: $color__cinza6;
                    text-transform: none;
                }
            }
        }
        li:hover > ul,
        li.focus > ul {
            left: auto;
            right: -1px;
        }
        & > li {
            position: relative;
            text-transform: uppercase;
            padding: calc(0.25rem + 1px) 20px;
            line-height: 1;
            font-size: 1.125rem;
            letter-spacing: 1px;
            transition: border-color 0.2s ease;
            &:hover {
                border: none;
                border-color: $color__branco;
            }
            &:not(:last-child) {
                margin-right: 10px;
            }
            &.menu-item-has-children {
                @media screen and (min-width: $screen__sm) {
                    padding-right: 30px;
                    cursor: pointer;
                }
            }
        }
        .hamburguer-desktop .menu-item-has-children::after {
            display: none;
        }
    }

    ul > li {
        margin-right: 10px;
        color: $color__vermelho1;

        @media screen and (max-width: $screen__sm) and (orientation: landscape) {
            margin-left: 3%;
        }

        & > a {
            @media screen and (max-width: $screen__sm) {
                color: $color__vermelho1 !important;
                text-decoration: none !important;
                font-weight: bold;
            }
        }
    }
    ul > li:first-child {
        @media screen and (max-width: $screen__sm) {
            margin-top: 30px;
        }
    }
}

.admin-bar #primary-menu {
    @media screen and (min-width: $screen__sm) {
        top: 113px;
    }
    @media screen and (max-width: $screen__sm) and (orientation: portrait) {
        top: 134px;
    }

    @media screen and (max-width: $screen__sm) and (orientation: landscape) {
        top: 135px;
    }
}

#primary-menu > .menu-item-has-children::after {
    @media screen and (min-width: $screen__sm) {
        display: block;
        content: "\0231C";
        font-size: 1.5rem;
        transform: rotate(225deg);
        color: $color__branco;
        position: absolute;
        left: 93%;
        top: 5px;
        text-align: center;
    }
}

.hamburguer-desktop .menu-item-has-children::after {
    display: none !important;
}

a {
    display: block;
    text-decoration: none;
}

/* Small menu. */

.menu-toggle,
.main-navigation.toggled ul {
    display: block;
}

.admin-bar .menu-toggle > svg {
    @media screen and (max-width: $screen__sm) and (orientation: landscape) {
        top: 80px;
    }
}

.menu-toggle > svg {
    @media screen and (max-width: $screen__sm) and (orientation: portrait) {
        display: block;
        margin-top: 10%;
        z-index: 10;
    }

    @media screen and (max-width: $screen__xs) and (orientation: portrait) {
        display: block;
        position: absolute;
        right: 8%;
        top: -11%;
        z-index: 10;
    }

    @media screen and (max-width: $screen__sm) and (orientation: landscape) {
        display: block;
        position: absolute;
        right: 7%;
        top: 35px;
    }

    & > path[aria-expanded="true"] {
        fill: $color__branco;
    }

    & > path[aria-expanded="false"] {
        fill: $color__branco;
    }
}

.menu-toggle[aria-expanded="true"] > svg > path {
    fill: $color__vermelho1;
}

.menu-toggle[aria-expanded="false"] > svg > path {
    @media screen and (max-width: $screen__sm) {
        fill: $color__branco;
    }
}
.menu-toggle[aria-expanded="true"]:hover {
    background: $color__branco;
}
.menu-toggle[aria-expanded="true"] {
    background: $color__branco;
    @media screen and (max-width: $screen__sm) and (orientation: portrait) {
        padding-top: 5px;
        border: none;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: 15px;
        padding-bottom: 10px;
        z-index: 2;
        margin-bottom: 5%;
    }
    @media screen and (max-width: $screen__xs) and (orientation: portrait) {
        padding-top: 26px;
        border: none;
        padding-left: 37px;
        padding-right: 14px;
        margin-left: 10px;
        padding-bottom: 10px;
        margin-top: -3%;
        z-index: 2;
    }

    @media screen and (max-width: $screen__sm) and (orientation: landscape) {
        padding-top: 20px;
        border: none;
        padding-left: 45px;
        padding-right: 10px;
        margin-left: 10px;
        padding-bottom: 25px;
        z-index: 2;
    }
}
.menu-toggle[aria-expanded="false"] {
    background: $color__vermelho1;
    color: $color__vermelho1;
    border-color: $color__vermelho1;
    border-style: solid;
}

.menu-toggle[aria-expanded="false"] {
    @media screen and (orientation: portrait) {
        background: $color__vermelho1;
        border: none;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 10px;
        padding-bottom: 10px;
        z-index: 2;
    }

    @media screen and (max-width: $screen__sm) and (orientation: landscape) {
        background: $color__vermelho1;
        padding-left: 10px;
        border: none;
        padding-right: 10px;
        margin-left: 10px;
        padding-bottom: 25px;
        padding-top: 20px;
        z-index: 2;
    }
}

@media screen and (max-width: $screen__sm) {
    button:focus {
        outline: none !important;
    }
}

@media screen and (min-width: $screen__sm) {
    .menu-toggle {
        display: none;
    }
    .main-navigation ul {
        display: flex;
    }
}
.post-navigation > .nav-links > .nav-next,
.posts-navigation > .nav-links > .nav-next > a {
    display: flex;
    justify-content: flex-end;
}
.post-navigation > .nav-links > .nav-previous {
    display: flex;
}

.comment-navigation,
.posts-navigation,
.post-navigation {
    .site-main & {
        margin: 0 0 1.5em;
    }

    .nav-links {
        display: flex;
    }

    .nav-previous {
        flex: 1 0 50%;
    }

    .nav-next {
        text-align: start;
        flex: 1 0 50%;
    }
}

.menu-menu-1-container {
    @media screen and (max-width: $screen__sm) and (orientation: landscape) {
        margin-top: 4%;
        position: absolute;
        left: 0;
        width: 100%;
    }

    & > ul {
        @media screen and (max-width: $screen__sm) {
            padding-top: 50px;
            padding-bottom: 20px;
            z-index: 10;
            background: $color__branco;
            position: relative;
        }
    }

    @media screen and (max-width: $screen__sm) and (orientation: portrait) {
        margin-top: 7%;
        position: absolute;
        left: 0;
        background: $color__branco;
        width: 100%;
    }

    @media screen and (min-width: $screen__sm) and (max-width: $screen__md) and (orientation: portrait) {
        margin-top: 5%;
        position: absolute;
        left: 0;
        background: $color__vermelho1;
        width: 100%;
    }
}

.topbutton {
    height: 50px;
    width: 50px;
    position: fixed;
    right: 5px;
    bottom: 5px;
    z-index: 1;
    content: "^";
    background-repeat: no-repeat;
    display: none;
}
.hamburguer-desktop .sub-menu > li > a {
    color: $color__cinza6 !important;
}

#primary-menu > .menu-item {
    text-align: right;
    justify-content: flex-end;
    border: 1px solid transparent;
}
#primary-menu > .menu-item:hover {
    border: 1px solid $color__branco;
}
.remove-after-before::after,
.remove-after-before::before {
    display: none;
}

.toggled {
    .hamburguer-desktop,
    #primary-menu > .nav-menu {
        position: absolute;
        top: 20px;
        right: 0%;
        background: $color__branco;
        width: auto;
        height: auto;
        z-index: 20;
        padding: 20px;
        overflow-y: hidden;
        overflow-x: hidden;
        padding-right: 50px;
        border: 3px solid $color__vermelho1;
    }
    .menu-menu-container {
        @media screen and (min-width: $screen__sm) {
            position: relative;
        }
        @media screen and (max-width: $screen__sm) {
            position: absolute;
        }
    }

    .hamburguer-desktop a {
        color: $color__vermelho1 !important;
        text-decoration: none !important;
        font-weight: bold;
    }
    .hamburguer-desktop li.menu-item {
        margin-right: 0 !important;
        padding-right: 0 !important;
    }
    .menu {
        @media screen and (max-width: $screen__xs) and (orientation: portrait) {
            position: absolute;
            left: 0%;
            background: $color__branco;
            width: auto;
            height: auto;
            z-index: 20;
        }
        @media screen and (max-width: $screen__sm) and (orientation: portrait) {
            position: relative;
            left: auto;
            background: $color__branco;
            width: 86%;
            height: auto;
            z-index: 20;
            right: 64%;
        }
        @media screen and (max-width: $screen__sm) and (orientation: landscape) {
            position: absolute;
            left: 0%;
            background: $color__branco;
            width: auto;
            height: auto;
            z-index: 20;
        }
    }
    ul {
        display: block;
    }
}

#ScrolltoTop {
    position: fixed;
    bottom: 15%;
    right: 3%;
    color: $color__vermelho1;
    background-color: $color__branco;
    animation: appear-from-bottom 0.2s ease;
    display: none;
    z-index: 9999;

    & > .tainacan-icon-showmore:before {
        transform: rotate(180deg);
        border: 1px solid $color__vermelho1;
        padding-left: 4px;
        padding-right: 4px;
    }
    & > .tainacan-icon-showmore:before:hover {
        border: 1px solid $color__branco;
    }
}
#ScrolltoTop:visited {
    color: $color__vermelho1;
}
#ScrolltoTop:hover {
    background-color: $color__vermelho1;
    color: $color__branco;
}

// Posts Navigation

.pagination > .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.pagination > .nav-links > a {
    padding-left: 4px;
    padding-right: 4px;
    margin-right: 10px;
    line-height: 1.75;
}

.pagination > .nav-links > a:last-child,
.pagination > .nav-links > a:first-child {
    padding-right: 0px;
}

.pagination > .nav-links > span[aria-current="page"] {
    padding-left: 4px;
    padding-right: 4px;
    margin-right: 10px;
    line-height: 1.75;
    background-color: $color__vermelho1;
    color: $color__branco;
}

.navigation > .nav-links {
    padding-right: 0px;
    padding-left: 0px;
}

.alignwide > .navigation > .nav-links {
    margin-right: 0px;
}

.nav-links > .prev > i,
.nav-links > .next > i {
    border: 1px solid $color__vermelho1;
    padding: 4px;
    margin-right: 8px;
}

.nav-links > .prev > i:hover,
.nav-links > .next > i:hover {
    color: $color__branco;
    background-color: $color__vermelho1;
}

.navigation {
    margin-top: 85px !important;
}

.tainacan-collection-list--simple-search {
    .dropdown {
        #dropdownMenuSorting,
        #dropdownMenuViewMode {
            font-size: 0.875rem;
            &:focus {
                box-shadow: none;
            }
            &::after {
                color: $color__vermelho1;
            }
        }
        &.dropdown-sorting {
            button {
                padding-left: 0;
            }
        }
        &.dropdown-viewMode {
            @media only screen and (max-width: 576px) {
                .show {
                    transform: translate3d(-94px, 35px, 0px) !important;
                    left: 0 !important;
                }
            }
        }
        .dropdown-menu {
            font-size: 0.875rem;
            border-radius: 0;
            border: 1px solid $color__cinza4;
            a {
                &:hover {
                    background-color: $color__cinza1;
                }
                &.active {
                    background-color: $color__vermelho-invert;
                }
            }
        }
    }

    a {
        color: $color__cinza6;
        &:hover {
            color: $color__cinza6;
        }
        &.active {
            color: $color__cinza5;
            &:hover {
                color: $color__cinza5;
            }
        }
        &:focus {
            box-shadow: none;
        }
    }
    #tainacan-collection-search {
        input {
            height: calc(2.25rem - 3px);
            border-color: $color__cinza5 !important;
            &:focus {
                box-shadow: none;
                border-right: none;
            }
            &::placeholder {
                font-size: 0.75rem;
                color: $color__cinza5;
            }
        }
        button {
            line-height: 0.5;
            &:focus {
                box-shadow: none;
            }
        }
    }
}

.prev {
    display: block !important;
}

.menu-menu-container > #primary-menu > li {
    display: table;
}
.menu-menu-container > #primary-menu > li > a {
    vertical-align: middle;
    display: table-cell;
    padding-top: 10px;
    padding-bottom: 10px;
}
