#page-404 h2 {
    text-transform: uppercase;
}

#page-404 .widget_archive > select {
    padding-bottom: 1%;
    text-transform: uppercase;
    border-radius: 6px;
    padding-top: 1%;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #fff;
}

.not-found h1 {
    text-transform: uppercase;
}

.error404 .widget_categories > ul > li > a {
    text-transform: capitalize;
}

.div-widget-404 {
    column-count: 3;
}

:is(.div-widget-404) ul li {
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
}
