#page-404 h2 {
    text-transform: uppercase;
}

#page-404 .widget_archive > select {
    padding-bottom: 1%;
    text-transform: uppercase;
    border-radius: 6px;
    padding-top: 1%;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #fff;
}

.not-found h1 {
    text-transform: uppercase;
}
