/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

img {
	height: auto; // Make sure images are scaled correctly.
	max-width: 100%; // Adhere to container width.
}

figure {
	margin: 1em 0; // Extra wide images within figure tags don't overflow the content area.
}

/* Image block captioin */
.wp-block-image {
	break-inside: avoid;
}
.wp-block-image figcaption {
    font-style: italic;
    color: $color__vermelho1;
}