.widget {
    margin: 0 0 0.75em;
    // Make sure select elements fit in widgets.
    select {
        max-width: 100%;
    }
    h1 {
        font-size: 1.25rem;
        font-weight: 500;
    }
    h2 {
        font-size: 1.125rem;
        font-weight: 500;
    }
    h3 {
        font-size: 1.0rem;
        font-weight: 500;
    }
    h4 {
        font-size: 0.875rem;
        font-weight: 500;
    }
    h5 {
        font-size: 0.75rem;
        font-weight: 500;
    }
    h5 {
        font-size: 0.75rem;
        font-weight: normal;
    }
    ul {
        list-style: none;
        margin-left: 0;
        padding-left: 0;
        a:not(:hover):not(:focus) {
            text-decoration: none;
        }
    }
    .wp-calendar-table>caption {
        color: #fff;
        font-weight: bold;
    }
    .search-field,
    .search-field:active,
    .search-field:focus {
        border-radius: 15px;
        border: none
    }
    label {
        border: none;
    }
    .search-submit {}
    .search-form,
    .search-form>label>,
    .search-form>label>.search-field {
        border: none
    }
}


/* .widget_calendar {
    border: 1px #fff solid;
}

.widget_calendar::before {
    font-family: "tainacan-icon tainacan-icon-calendar";
} */

//begin calendar
.widget_calendar {
    float: left;
}

#wp-calendar {
    width: 100%;
}

#wp-calendar caption {
    text-align: right;
    color: #fff;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 15px;
}

#wp-calendar thead {
    font-size: 10px;
}

#wp-calendar thead th {
    padding-bottom: 10px;
}

#wp-calendar tbody {
    color: #000;
}

#wp-calendar a:visited,
#wp-calendar a {
    color: #000;
    text-decoration: underline;
}

#wp-calendar tbody td {
    background: #f5f5f5;
    border: 1px solid #fff;
    text-align: center;
    padding: 8px;
}

#wp-calendar tbody td:hover,
#wp-calendar tbody a:hover {
    background: $color__vermelho2;
    color: #fff
}

#wp-calendar tbody .pad {
    background: none;
}

#wp-calendar tfoot #next {
    font-size: 10px;
    text-transform: uppercase;
    text-align: right;
}

#wp-calendar tfoot #prev {
    font-size: 10px;
    text-transform: uppercase;
    padding-top: 10px;
}

//end calendar
//begin search bar
.widget.widget_search .search-form .search-field {
    position: absolute;
    padding: 0 19px;
    /*     background-image: url(assets/images/search.png); */
    border: 0;
    background-color: transparent;
    right: 0px;
    top: 29px;
    color: #7a7a7a;
    cursor: pointer;
    font-size: 0px;
    height: 17px;
    width: 10px;
    background-repeat: no-repeat;
}

//end search bar