// Cores Primárias
$color__vermelho1: #58020b;
$color__vermelho2: #970620;
$color__vermelho-invert: #efe6e7;

// Cores Secundárias
$color__amarelo1: #f3d7a2;
$color__amarelo2: #fcd9aa;
// Cores de Estado
$color__verde: #007350;
$color__laranja: #ca4d37;
$color__amarelo: #e5a923;
// Cores auxiliares:
$color__branco: #ffffff;
$color__branco1: #f5f5f5;
$color__cinza1: #f1f1f1;
$color__cinza2: #e8e8e8;
$color__cinza3: #d9d9d9; 
$color__cinza4: #bfbfbf;
$color__cinza5: #898d8f;
$color__cinza6: #515151;
$color__cinza7: #1e1e1e;
$color__preto: #000000;
$color__background-body: $color__branco; 
$color__background-screen: $color__cinza1;
$color__background-hr: $color__cinza3;
$color__background-pre: $color__cinza3; 
$color__background-ins: $color__cinza1;
$color__text-screen: $color__vermelho2;
$color__text-input: $color__vermelho1;
$color__text-input-focus: $color__cinza7;
$color__link: $color__vermelho2;
$color__link-visited: $color__vermelho1;
$color__link-hover: $color__vermelho2;
$color__text-main: $color__cinza7;
$color__border-input: $color__cinza3;
$color__border-abbr: $color__cinza4;
// Botões
$color__background-button: rgba(255,255,255,0.1);
$color__border-button: $color__vermelho1;
$color__border-button-hover: $color__vermelho1;
$color__border-button-focus: $color__vermelho1;
$color__background-button--clear: $color__branco rgba(255,255,255,0.1);;
$color__border-button--clear: $color__cinza3;
$color__border-button--clear-hover: $color__cinza6;
$color__border-button--clear-focus: $color__cinza5;
//efeitos
$gradiente__vermelho: linear-gradient(to right, $color__vermelho1, $color__vermelho2);