.linha-1-destaques,
.linha-2-destaques {
    display: flex;
    @media screen and (min-width: $screen__sm) {
        flex-direction: row;
    }
    @media screen and (max-width: $screen__sm) {
        flex-direction: column;
        padding: 0px;
    }
}

.linha-1-destaques > a,
.linha-2-destaques > a {
    background-size: cover;
    display: flex;
    background-position: center;
    @media screen and (max-width: $screen__sm) {
        height: 300px;
        width: 100%;
        max-width: 100%;
        padding: 0px;
    }
}

.div-destaques-noticias > div > a {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.linha-1-destaques span,
.linha-2-destaques span,
.linha-1-destaques h2,
.linha-2-destaques h2 {
    margin-top: auto;
}

.destaques-content {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    margin-bottom: 20px;
}

.linha-1-destaques {
    padding-left: 0px;
    @media screen and (min-width: $screen__lg) {
        height: 550px;
    }
    @media screen and (min-width: $screen__md) and (max-width: $screen__lg) {
        height: 435px;
    }
    @media screen and (min-width: $screen__sm) and (max-width: $screen__md) {
        height: 325px;
    }
    margin-bottom: 20px;
}

.linha-2-destaques {
    @media screen and (min-width: $screen__lg) {
        height: 700px;
    }
    @media screen and (min-width: $screen__md) and (max-width: $screen__lg) {
        height: 550px;
    }
    @media screen and (min-width: $screen__sm) and (max-width: $screen__md) {
        height: 415px;
    }
}
.linha-2-destaques > a:first-child {
    margin-right: 10px;
    flex-basis: calc(33.3% - 10px);
}
.linha-2-destaques > a:first-child + a {
    @media screen and (min-width: $screen__sm) {
        margin-left: 10px;
        flex-basis: calc(33.3% - 19px);
    }
}
.linha-2-destaques > a:last-child {
    margin-left: 20px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

.linha-2-destaques > a:last-child > a:first-child {
    margin-bottom: 10px;
    flex-basis: calc(50% - 10px);
}
.linha-2-destaques > div:last-child > a {
    display: flex;
    height: 340px;
}

.linha-2-destaques > div:last-child > a:last-child {
    margin-top: 10px;
    flex-basis: calc(50% - 10px);
}
.linha-2-destaques > div:last-child > a:first-child {
    margin-bottom: 20px;
    flex-basis: calc(50% - 10px);
}
:is(.linha-1-destaques, .linha-2-destaques) :is(a):not(:last-child) {
    @media screen and (max-width: $screen__sm) {
        margin-bottom: 20px;
    }
}

.padding-destaques {
    padding-left: 20px;
    padding-top: 20px;
}

.destaque-bottom-right {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 50%;
}

.destaque-bottom > a {
    @media screen and (max-width: $screen__sm) {
        height: 300px;
        min-height: 300px;
    }
}

.destaque-top:last-child {
    margin-left: 20px;
}

.destaques > a {
    padding: 0px;
}

.destaques a {
    border-radius: 10px;
}

.destaques-cat {
    text-transform: uppercase;
    color: $color__amarelo;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.destaques-title {
    color: $color__branco;
    font-size: 1rem;
    font-weight: bold;
}

.destaques-cat,
.destaques-title {
    background-color: rgba(0, 0, 0, 0.6);
    margin-right: auto;
    padding-left: 3px;
    padding-right: 3px;
}

.is-mobile {
    @media screen and (max-width: $screen__sm) {
        display: none;
    }
    @media screen and (min-width: $screen__sm) {
        padding-left: 20px;
        padding-right: 5px;
    }
}

.is-mobile-noticias {
    position: relative;
    @media screen and (min-width: $screen__sm) {
        display: none;
    }
}

section.destaques {
    @media screen and (max-width: $screen__sm) {
        max-width: 100%;
    }
}

.destaques-noticias {
    @media screen and (min-width: $screen__sm) {
        margin-bottom: 150px;
    }
}
.div-destaques-noticias {
    display: flex;
    flex-direction: row;
}

.div-destaques-noticias > div > a:first-child {
    min-height: 175px;
    max-height: 175px;
}

.div-destaques-noticias > div > a:last-child {
    min-height: 268px;
    max-height: 268px;
}

.div-destaques-noticias > div > a {
    width: 100%;
    min-width: 100%;
    border-radius: 10px;
}

.div-destaques-noticias > div {
    display: flex;
    flex-direction: column;
    @media screen and (max-width: $screen__sm) {
        height: 175px;
        width: 100%;
        max-width: 100%;
        padding: 0px;
    }
}

.destaques-noticias > div,
.div-destaques-noticias > div {
    padding: 0px;
}

.destaques-noticias-mid {
    height: 100%;
    min-height: 100% !important;
}

.div-destaques-noticias > :is(div:first-child, div:last-child) > a:first-child {
    margin-bottom: 20px;
}

.div-destaques-noticias > div:first-child {
    flex-basis: calc(100% - 10px);
    margin-right: 10px;
}

.div-destaques-noticias > div:last-child {
    flex-basis: calc(100% - 10px);
    margin-left: 10px;
}

.div-destaques-noticias > div > a {
    margin-top: auto;
    display: flex;
}

.swiper-container {
    height: 225px;
    margin-bottom: 50px;
}

.is-desktop {
    @media screen and (max-width: $screen__sm) {
        display: none;
    }
}

.titulo-destaques {
    @media screen and (max-width: $screen__sm) {
        margin-top: 50px;
    }
}

.swiper-wrapper > a.swiper-slide {
    padding-left: 0px;
    display: flex;
    background-size: cover;
    background-position: center;
    border-radius: 4px;
}

.swiper-wrapper {
    padding: 0px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    display: none;
}

:is(.swiper-button-prev, .swiper-button-next) {
    top: 100% !important;
}

:is(.swiper-button-prev, .swiper-button-next) > i {
    color: $color__vermelho1;
    border: 1px solid $color__vermelho1;
    padding-left: 4px;
    padding-right: 4px;
}

:is(.swiper-button-prev, .swiper-button-next):hover > i {
    color: $color__branco;
    border: 1px solid $color__vermelho1;
    background-color: $color__vermelho1;
    padding-left: 4px;
    padding-right: 4px;
}

section.destaques-noticias {
    margin-bottom: 50px;
}

:is(.is-mobile-noticias + .navigation-destaques-swiper) > .swiper-button-prev {
    left: 0px !important;
}

:is(.is-mobile-noticias + .navigation-destaques-swiper) > .swiper-button-next {
    left: 35px !important;
}

:is(a.swiper-slide),
:is(.is-desktop, .linha-1-destaques, .linha-2-destaques) a {
    background-color: $color__vermelho1;
}

.grid-container {
    flex-wrap: wrap;
    margin-bottom: 150px;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 93.75px) repeat(6, 75px);
    gap: 20px 20px;
    grid-template-areas:
        "display-1 display-1 display-1 display-1 display-2 display-2"
        "display-1 display-1 display-1 display-1 display-2 display-2"
        "display-1 display-1 display-1 display-1 display-2 display-2"
        "display-1 display-1 display-1 display-1 display-2 display-2"
        "display-3 display-3 display-4 display-4 display-5 display-5"
        "display-3 display-3 display-4 display-4 display-5 display-5"
        "display-3 display-3 display-4 display-4 display-5 display-5"
        "display-3 display-3 display-4 display-4 display-6 display-6"
        "display-3 display-3 display-4 display-4 display-6 display-6"
        "display-3 display-3 display-4 display-4 display-6 display-6";
}

.display-1 {
    grid-area: display-1;
    height: 435px;
}

.display-2 {
    grid-area: display-2;
    height: 435px;
}

.display-3 {
    grid-area: display-3;
    height: 550px;
}

.display-4 {
    grid-area: display-4;
    height: 550px;
}

.display-5 {
    grid-area: display-5;
    height: 267px;
}

.display-6 {
    grid-area: display-6;
    height: 267px;
}

.grid-container-noticias > a {
    display: flex;
}
:is(.grid-container-noticias, .grid-container) > a {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.grid-container-noticias {
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr 1.5fr 0.5fr 1fr;
    grid-template-rows: repeat(6, calc(590px / 6));
    gap: 20px 20px;
    grid-template-areas:
        "display-1-noticias display-1-noticias display-1-noticias display-3-noticias display-4-noticias display-4-noticias"
        "display-1-noticias display-1-noticias display-1-noticias display-3-noticias display-4-noticias display-4-noticias"
        "display-2-noticias display-2-noticias display-2-noticias display-3-noticias display-5-noticias display-5-noticias"
        "display-2-noticias display-2-noticias display-2-noticias display-3-noticias display-5-noticias display-5-noticias"
        "display-2-noticias display-2-noticias display-2-noticias display-3-noticias display-5-noticias display-5-noticias"
        "display-2-noticias display-2-noticias display-2-noticias display-3-noticias display-5-noticias display-5-noticias"
        ". . . . . ."
        ". . . . . ."
        ". . . . . ."
        ". . . . . .";
}
:is(.display-1-noticias, .display-2-noticias, .display-3-noticias, .display-4-noticias, .display-5-noticias) {
    border-radius: 10px;
}
.display-1-noticias {
    grid-area: display-1-noticias;
}

.display-2-noticias {
    grid-area: display-2-noticias;
}

.display-3-noticias {
    grid-area: display-3-noticias;
}

.display-4-noticias {
    grid-area: display-4-noticias;
}

.display-5-noticias {
    grid-area: display-5-noticias;
}
