details {
    margin-left: 0px !important;
}
span.span-summary + p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.block-editor-inner-blocks {
    margin-top: 14px;
    border-top: 1px solid $color__preto;
    padding-top: 35px;
}

details > summary::before,
span.tainacan-icon-plus:before,
span.tainacan-icon-minus:before {
    float: right;
    font-weight: bold;
    color: $color__vermelho1;
    font-size: 20px;
}

summary,
span.span-summary {
    font-weight: bold;
    width: 100%;
    max-height: 100px;
    color: $color__preto;
}

.wp-block {
    max-width: 100%;
}

.collapse {
    display: none;
}

.show {
    display: block;
}
