details {
    margin-left: 0px !important;
}
details > p,
span.span-summary + p {
    margin-top: 0px;
    margin-bottom: 0px;
}

details > summary::before,
span.tainacan-icon-plus:before,
span.tainacan-icon-minus:before {
    float: right;
    font-weight: bold;
}

summary,
span.span-summary {
    font-weight: bold;
    width: 100%;
    max-height: 100px;
    color: $color__vermelho1;
}

.wp-block {
    max-width: 100%;
}

.collapse {
    display: none;
}

.show {
    display: block;
}
