//remove o ícone do summary do opera e chrome
details.wp-block-iphan-inner-accordion-custom > summary::-webkit-details-marker {
    /*     display: none; */
}

//remove o ícone do summary do mozila
details.wp-block-iphan-inner-accordion-custom > summary {
    list-style-type: none;
}

details.wp-block-iphan-inner-accordion-custom > summary::before,
span.tainacan-icon-plus:before,
span.tainacan-icon-minus:before {
    float: right;
    font-weight: bold;
}

summary {
    font-weight: bold;
}
