//remove o ícone do summary do opera e chrome
details.wp-block-iphan-inner-accordion-custom > summary::-webkit-details-marker {
    /*     display: none; */
}

//remove o ícone do summary do mozila
details.wp-block-iphan-inner-accordion-custom > summary {
    list-style-type: none;
}

details.wp-block-iphan-inner-accordion-custom > summary::before,
span.tainacan-icon-plus:before,
span.tainacan-icon-minus:before {
    float: right;
    font-weight: bold;
}
details.wp-block-iphan-inner-accordion-custom > summary::before {
    display: inline-block;
    font: normal normal normal 20px/1 "TainacanIcons";
    font-size: inherit;
    text-rendering: auto;
    vertical-align: middle;
    line-height: inherit;
    text-transform: none !important;
    letter-spacing: normal !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: bold;
    font-size: 20px;
    content: "plus";
    color: $color__vermelho1;
    margin-top: -3px;
}
details.wp-block-iphan-inner-accordion-custom[open] > summary::before {
    content: "minus";
}

summary {
    font-weight: bold;
    padding-bottom: 6px;
    border-bottom: 1px solid $color__cinza3;
    color: $color__cinza6;
}

.wp-block-iphan-inner-accordion-custom > p {
    margin-top: 35px;
    margin-left: 25px;
}
