//remove o ícone do summary do opera e chrome
details.wp-block-iphan-inner-accordion-custom > summary::-webkit-details-marker {
    /*     display: none; */
}

//remove o ícone do summary do mozila
details.wp-block-iphan-inner-accordion-custom > summary {
    list-style-type: none;
}

details.wp-block-iphan-inner-accordion-custom > summary::before,
span.tainacan-icon-plus:before,
span.tainacan-icon-minus:before {
    float: right;
    font-weight: bold;
}

details.wp-block-iphan-inner-accordion-custom > summary::before {
    display: inline-block;
    font: normal normal normal 20px/1 "TainacanIcons";
    font-size: inherit;
    text-rendering: auto;
    vertical-align: middle;
    line-height: inherit;
    text-transform: none !important;
    letter-spacing: normal !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "plus";
    font-weight: bold;
}
details.wp-block-iphan-inner-accordion-custom[open] > summary::before {
    display: inline-block;
    font: normal normal normal 20px/1 "TainacanIcons";
    font-size: inherit;
    text-rendering: auto;
    vertical-align: middle;
    line-height: inherit;
    text-transform: none !important;
    letter-spacing: normal !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "minus";
    font-weight: bold;
}

summary {
    font-weight: bold;
}
