.breadcrumb {
    background-color: $color__cinza2;
    display: flex;
    padding: 7px 0px !important;
    margin-left: 0px;
    margin-bottom: 100px !important;
    font-size: 0.875rem;

    @media screen and (max-width: $screen__sm) {
        display: none;
    }
}
.breadcrumb > .site-container {
    display: flex;
    flex-direction: row;
    align-items: center; 
}
.breadcrumb .separator {
    margin: 0 0.35rem;
}
.breadcrumb > li {
    list-style: none;
}

.breadcrumb  i::before {
    color: $color__vermelho1;
    font-size: 1.5rem;
    margin-right: 24px;
}

.breadcrumb > li > a {
    text-decoration: none;
}
.breadcrumb a > i {
    font-size: 1.7rem;
    color: $color__vermelho1;
}

.breadcrumb .current {
    color: $color__vermelho1;
    font-weight: bold;
    margin-right: 0.5rem;
}
.breadcrumb .separator {
    color: $color__vermelho1;
}
