.breadcrumb {
    @media screen and (min-width: $screen__sm) {
        background-color: $color__cinza2;
        display: flex;
        padding-top: 14px;
        padding-bottom: 14px;
        margin-left: 0px;
    }
    @media screen and (max-width: $screen__sm) {
        display: none;
    }
}

.breadcrumb > li {
    list-style: none;
}

.breadcrumb > li > a {
    text-decoration: none;
}
.breadcrumb a > i {
    font-size: 1.7rem;
    color: $color__vermelho1;
}

.breadcrumb > a {
    margin-right: 1%;
    margin-left: 17%;
}

.breadcrumb .item-current {
    color: $color__vermelho1;
}   
.breadcrumb .separator{
    color: $color__vermelho1;
}
